LLM Logistic test.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.observaciones }}\n\nOrigen: {{ $json.body.origen_label }}\nZona solicitada: {{ $json.body.zona_label }}\nTiempo disponible: {{ $json.body.tiempo_label }}\nCapacidad del vehículo: {{ $json.body.capacidad_label }}\n\nCAPACIDAD EN KG SEGÚN VEHÍCULO:\n- Camioneta pequeña = 500 kg máximo por viaje\n- Furgoneta mediana = 1000 kg máximo por viaje  \n- Camión = 2000 kg máximo por viaje\n\nESTIMACIÓN DE CARGA POR SUCURSAL KFC: aproximadamente 80-120 kg por punto de rescate.\n\nLISTA COMPLETA DE PUNTOS KFC DISPONIBLES:\n\nNORTE: KFC Mitad del Mundo, KFC Pomasqui, KFC Carcelén, KFC Calderón, KFC Carapungo, KFC El Condado, KFC Llano Grande, KFC Portal Shopping, KFC Cotocollao, KFC La Prensa, KFC Comité del Pueblo, KFC Molineros, KFC Eloy Alfaro, KFC El Inca, KFC Granados Outlet, KFC Quicentro Norte, KFC CCI\n\nCENTRO-NORTE: KFC El Jardín, KFC Colón, KFC Baca Ortiz, KFC Patria\n\nCENTRO: KFC Colonial, KFC San Francisco\n\nSUR: KFC MASGAS, KFC Villaflora, KFC Tte. Michelena, KFC El Recreo, KFC Solanda, KFC Mariscal Sucre, KFC Sta. María Chillogallo, KFC Morán Valverde, KFC Quicentro Sur, KFC Quitumbe\n\nVALLES: KFC Tumbaco, KFC San Rafael, KFC San Luis Shopping, KFC Sangolquí, KFC Mega Santa María\n\nINSTRUCCIONES ADICIONALES:\n- Calcula cuántos kg totales se recogerían (número de puntos x 100 kg promedio)\n- Determina cuántos viajes necesita el vehículo seleccionado para cargar todo\n- Si se necesitan múltiples viajes, indica en la justificacion cuántos viajes y cómo dividir la ruta",
        "options": {
          "systemMessage": "Eres el agente logístico del Banco de Alimentos de Quito que optimiza rutas de rescate de alimentos en sucursales KFC.\n\nINSTRUCCIÓN CRÍTICA: Responde ÚNICAMENTE con un objeto JSON válido. Sin texto antes, sin texto después, sin markdown, sin bloques de código. Solo el JSON puro.\n\nFormato exacto:\n{\"ruta\":[\"KFC Nombre1\",\"KFC Nombre2\"],\"tiempo_min\":85,\"distancia_km\":32.4,\"algoritmo\":\"Nombre del algoritmo usado\",\"justificacion\":\"3 oraciones justificando la ruta y el algoritmo elegido.\"}\n\nALGORITMOS Y CUÁNDO USARLOS:\n\n- TSP (Problema del Viajero): Úsalo SOLO cuando no hay restricciones de capacidad ni de tiempo, y el único objetivo es minimizar distancia visitando todos los puntos una vez.\n\n- Método del Costo Mínimo: Úsalo cuando hay MÚLTIPLES vehículos disponibles y se deben asignar zonas a cada vehículo minimizando el costo total de transporte.\n\n- Programación Lineal (Simplex): Úsalo cuando existen MÚLTIPLES restricciones simultáneas como límite de tiempo + capacidad del vehículo + alimentos perecederos. Es el más adecuado cuando hay que cumplir varias condiciones a la vez.\n\n- Problema de la Ruta Corta (Shortest Path): Úsalo cuando el objetivo principal es conectar el origen con un destino específico por el camino más corto, no visitar múltiples paradas.\n\nCRITERIO DE SELECCIÓN:\n- Sin restricciones → TSP\n- Solo restricción de capacidad → Método del Costo Mínimo\n- Restricción de tiempo + capacidad + perecederos → Programación Lineal (Simplex) ← más común en este sistema\n- Ruta entre dos puntos → Shortest Path\n\nREGLAS:\n1. Incluye SIEMPRE todos los puntos de la zona indicada sin excepción.\n2. Ordena los puntos minimizando distancia total según el algoritmo elegido.\n3. Calcula el tiempo REAL: tiempo_min = (distancia_km / 25 * 60) + (numero_paradas * 12)\n4. Calcula viajes necesarios: kg_totales = numero_paradas * 100. viajes = ceil(kg_totales / capacidad_kg)\n5. En justificacion explica: por qué elegiste ese algoritmo según las restricciones presentes, tiempo real vs límite, y cuántos viajes necesita el vehículo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -224,
        -64
      ],
      "id": "30234dbc-e128-41e7-92de-795882840572",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -368,
        144
      ],
      "id": "b60dc8fc-38af-48c1-8be4-c08bce8d8741",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cOHeS0pOGT7tf0OY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "banco-alimentos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -64
      ],
      "id": "fdec84b1-df45-4402-9eb7-986d79f611a7",
      "name": "Webhook",
      "webhookId": "9f68e062-85ea-4a5b-9800-df5551f669b8"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        64,
        -64
      ],
      "id": "b8d26508-66b3-40a2-b076-ebc7150ba638",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5ebbbcd5-facd-45c9-a1ee-e9a0f5cf0f8d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85cd7b20c2a1de5b143ebd1a15595b9460daa712901a7c3b520cb3a0cd729d80"
  },
  "id": "jtE21qpabsV7xhhm",
  "tags": []
}