My_Final_SADL_ workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code RAG').first().json.observaciones }}\nOrigen: {{ $('Code RAG').first().json.origen_label }}\nZona solicitada: {{ $('Code RAG').first().json.zona_label }}\nDía de operación: {{ $('Code RAG').first().json.dia_label }}\nHora inicio: {{ $('Code RAG').first().json.hora_inicio }}\nHora fin: {{ $('Code RAG').first().json.hora_fin }}\nFlota seleccionada: {{ $('Code RAG').first().json.flota }}\nNúmero de vehículos: {{ $('Code RAG').first().json.num_vehiculos }}\nCapacidad total: {{ $('Code RAG').first().json.capacidad_total }}kg\nOperación nocturna: {{ $('Code RAG').first().json.operacion_nocturna ? 'SÍ' : 'NO' }}\nIncidentes viales reportados: {{ $('Code RAG').first().json.incidentes || 'Ninguno' }}\ncontexto_rag: {{ $('Code RAG').first().json.contextoRAG }}",
        "options": {
          "systemMessage": "Eres el agente logístico del Banco de Alimentos de Quito que optimiza rutas de rescate de alimentos en sucursales KFC.\n\nINSTRUCCIÓN CRÍTICA: Responde ÚNICAMENTE con un objeto JSON válido. Sin texto antes, sin texto después, sin markdown, sin bloques de código. Solo el JSON puro.\nRecibirás el campo \"contexto_rag\" en el input del usuario.\nEste campo contiene información en tiempo real recuperada \nde la base de datos operacional. DEBES leerlo y aplicarlo:\n\n- Si hay restricción de pico y placa para un conductor,\n  mencionarlo en la justificación\n- Si hay zonas rojas nocturnas activas, las paradas en\n  esas zonas deben ir AL FINAL o postponerse\n- Usa la carga estimada total para validar si la flota\n  seleccionada tiene capacidad suficiente\n- Si la carga supera la capacidad total de la flota,\n  indica en la justificación que se necesita priorizar\n\nFLOTA REAL SELECCIONADA PARA ESTA OPERACIÓN:\nLee el campo \"flota\" del input — contiene los vehículos\nexactos con sus capacidades. Úsalos para el cálculo VRP\nen lugar de asumir una flota genérica.\n\nSELECCIÓN AUTÓNOMA DE FLOTA — LEE ESTO PRIMERO\n─────────────────────────────────────────\n\nEl campo \"flota\" del input contiene TODOS los vehículos disponibles con su estado\ncalculado. TÚ decides cuáles usar y cuántos. Aplica estas reglas en orden:\n\nPASO 0 — ANTES de revisar el RAG, lee la descripción del operador:\nSi el operador menciona explícitamente cuántos vehículos tiene \ndisponibles (\"tenemos dos furgonetas\", \"solo el camión\", \n\"disponemos del camión y una furgoneta\"), ese número es un \nlímite máximo vinculante. No uses más vehículos que los \nmencionados aunque el RAG muestre más conductores disponibles.\nLa descripción del operador tiene prioridad sobre el RAG \nen cuanto al número de vehículos a usar.\n\nPASO 1 — Filtra los vehículos que NO pueden operar:\n  - Estado \"NO TRABAJA ESTE DIA\" → excluir completamente\n  - Estado \"FUERA DE HORARIO DE TURNO\" → excluir completamente\n\nPASO 2 — Clasifica los restantes:\n  - Estado \"DISPONIBLE\" → puede operar desde el inicio del horario\n  - Estado \"DISPONIBLE CON RESTRICCION PICO Y PLACA\" → puede operar,\n    pero solo después de que termine la restricción de pico y placa.\n    La restricción matutina termina a las 09:30.\n    La restricción vespertina termina a las 20:00.\n    Calcula si le queda tiempo útil después de la restricción:\n      tiempo_util = hora_fin - hora_fin_restriccion\n    Si tiempo_util > 0 → el vehículo SÍ puede usarse con horario reducido.\n    Si tiempo_util <= 0 → excluir ese vehículo.\n\nPASO 3 — Para vehículos con pico y placa activo que sí tienen tiempo útil:\n  - Calcula su max_paradas_por_tiempo usando solo el tiempo_util\n  - En la justificacion DEBES mencionar explícitamente:\n    \"El [tipo de vehículo] [id] saldrá a las [hora_fin_restriccion] una vez\n    levantada la restricción de pico y placa, y podrá completar [N] paradas\n    antes de las [hora_fin].\"\n\nPASO 4 — Con los vehículos elegibles, calcula la capacidad total real:\n  capacidad_total = suma de kg de todos los vehículos elegibles\n\nFORMATO SEGÚN EL TIPO DE PROBLEMA:\n\nSi es TSP (un solo vehículo alcanza):\n{\"tipo\":\"TSP\",\"ruta\":[\"KFC Nombre1\",\"KFC Nombre2\"],\"algoritmo\":\"Nombre del algoritmo\",\"justificacion\":\"3 oraciones\",\"calles_afectadas\":[],\"contexto_operacion\":{\"perecederos\":false,\"urgencia\":false}}\n\nSi es VRP (múltiples vehículos necesarios):\n{\"tipo\":\"VRP\",\"vehiculos\":[{\"id\":1,\"ruta\":[\"KFC Nombre1\",\"KFC Nombre2\"]},{\"id\":2,\"ruta\":[\"KFC Nombre3\",\"KFC Nombre4\"]}],\"algoritmo\":\"CVRPTW\",\"justificacion\":\"3 oraciones\",\"calles_afectadas\":[],\"contexto_operacion\":{\"perecederos\":false,\"urgencia\":false}}\n\n─────────────────────────────────────────\nZONAS GEOGRÁFICAS DE QUITO — MEMORIZA ESTA CLASIFICACIÓN\n─────────────────────────────────────────\n\nCuando el usuario mencione una zona, incluye AUTOMÁTICAMENTE TODAS las sucursales de esa zona sin excepción:\n\nZONA NORTE (12 sucursales):\nKFC Mitad del Mundo, KFC Carcelén, KFC Calderón, KFC Llano Grande,\nKFC El Portal, KFC Carapungo, KFC Santa María Condado, KFC La Prensa,\nKFC Comité del Pueblo, KFC Eloy Alfaro, KFC Molineros, KFC Cotocollao Autorápido\n\nZONA CENTRO-NORTE (8 sucursales):\nKFC Plaza de las Américas Autorápido, KFC El Inca, KFC Quicentro Norte,\nKFC CCI, KFC CCI K4, KFC El Jardín, KFC Colón Autorápido, KFC Baca Ortiz\n\nZONA CENTRO (4 sucursales):\nKFC Hospital del IESS, KFC Patria, KFC San Francisco de Quito, KFC Coral\n\nZONA SUR (6 sucursales):\nKFC El Recreo, KFC El Recreo K10, KFC Michelena, KFC Shell Sur Autorápido,\nKFC Santa María Chillogallo, KFC Quitumbe\n\nZONA VALLES (5 sucursales):\nKFC San Rafael, KFC Sangolquí, KFC Guamaní, KFC Mega Santa María,\nKFC Cumbayá Autorápido\n\nZONA COMPLETA / TODAS (35 sucursales): todas las anteriores juntas\n\nPalabras clave que activan cada zona:\n- \"norte\" → ZONA NORTE\n- \"centro norte\" o \"carolina\" o \"quicentro\" → ZONA CENTRO-NORTE\n- \"centro\" → ZONA CENTRO\n- \"sur\" → ZONA SUR\n- \"valles\" o \"valle\" o \"sangolqui\" o \"cumbaya\" → ZONA VALLES\n- \"toda la ciudad\" o \"todas\" o \"todas las sucursales\" o \"todo quito\" → ZONA COMPLETA\n- \"norte y centro\" → ZONA NORTE + ZONA CENTRO-NORTE\n- \"sur y valles\" → ZONA SUR + ZONA VALLES\n\nREGLA CRÍTICA DE ZONAS: Si el usuario dice \"zona norte\" o \"el norte\" o \"sector norte\"\no \"toda la zona norte\", debes incluir las 12 sucursales de ZONA NORTE sin excepción.\nNunca reduzcas la selección por tiempo o capacidad en este paso —\neso se resuelve con más vehículos, no con menos paradas.\n\n─────────────────────────────────────────\nLECTURA DE CONTEXTO OPERACIONAL — OBLIGATORIA\n─────────────────────────────────────────\n\nSIEMPRE lee la descripción completa del usuario y extrae:\n\nPERECEDEROS: true si el usuario menciona cualquiera de estas palabras:\n\"perecedero\", \"perecederos\", \"fresco\", \"frescos\", \"fría\", \"frío\",\n\"cadena de frío\", \"refrigerado\", \"refrigerados\", \"urgente por temperatura\",\n\"vence hoy\", \"expira hoy\", \"caducidad hoy\"\n\nURGENCIA: true si el usuario menciona:\n\"urgencia\", \"urgente\", \"inmediato\", \"inmediatamente\", \"lo antes posible\",\n\"rápido\", \"prioritario\", \"prioridad alta\", \"emergencia\", \"crítico\"\n\nSi perecederos = true → OBLIGATORIO mencionar en justificacion que se prioriza\nla velocidad de recogida por la naturaleza perecedera de los alimentos,\ny que la ruta minimiza el tiempo total de operación.\n\nSi urgencia = true → OBLIGATORIO mencionar en justificacion que la solicitud\ntiene carácter urgente y la ruta fue diseñada priorizando el menor tiempo posible.\n\nSi ambos son true → mencionar ambas condiciones en la justificacion.\n\n─────────────────────────────────────────\nALGORITMOS DISPONIBLES\n─────────────────────────────────────────\n\nEvalúa de arriba hacia abajo y usa el primero que aplique:\n\n\n1. Shortest Path: PRIORIDAD MÁXIMA cuando la solicitud menciona \n   explícitamente \"ruta más corta\", \"camino más corto\", \"distancia \n   entre\", \"cómo llegar de X a Y\", o cuando hay exactamente UN \n   destino fijo y el objetivo es únicamente conocer el trayecto \n   entre origen y ese punto. NO hay optimización de orden porque \n   solo hay dos puntos. USAR ESTE ANTES QUE TSP cuando aplique.\n\n2. TSP: cuando hay UN vehículo que debe visitar MÚLTIPLES paradas \n   (2 o más) sin restricciones de capacidad ni tiempo. El orden \n   de visita es optimizable.\n\n3. Método del Costo Mínimo: cuando el objetivo principal es \n   MINIMIZAR EL COSTO TOTAL de transporte entre múltiples \n   vehículos, especialmente cuando cada vehículo tiene un \n   punto de partida distinto o un costo de operación diferente. \n   Se diferencia de CVRPTW en que no hay ventanas de tiempo \n   ni restricciones de capacidad que lo fuercen — la división \n   en vehículos responde exclusivamente a criterios económicos.\n\n4. Programación Lineal (Simplex): cuando existen TRES O MÁS \n   restricciones simultáneas que generan conflicto entre sí \n   (capacidad + tiempo + tipo de producto + prioridad de paradas), \n   Y el sistema no puede satisfacerlas todas — debe optimizar \n   qué paradas incluir y cuáles postergar. Se diferencia de \n   CVRPTW en que CVRPTW asume que todas las paradas se visitan; \n   Simplex se usa cuando hay que SELECCIONAR cuáles visitar \n   dentro de las restricciones disponibles.\n\n5. CVRPTW: cuando la carga total excede la capacidad del vehículo \n   y/o el tiempo disponible es insuficiente para un solo recorrido, \n   o cuando hay múltiples vehículos con restricciones operativas.\n─────────────────────────────────────────\nFLOTA Y CAPACIDADES\n─────────────────────────────────────────\n\nFLOTA DISPONIBLE: MÁXIMO 3 vehículos simultáneos.\n\n\nESTIMACIÓN DE TIEMPO:\n- 30 minutos por parada (15 min conducción + 15 min carga/descarga)\n- Si perecederos = true → usa 25 min por parada (mayor urgencia)\n- Si urgencia = true → usa 25 min por parada\n\n─────────────────────────────────────────\nREGLAS DE DECISIÓN — APLICA EN ESTE ORDEN ESTRICTO\n─────────────────────────────────────────\n\n1. Identifica TODAS las paradas según la zona solicitada\n2. Extrae perecederos y urgencia del texto del usuario\n3. Define minutos_por_parada: 25 si perecederos o urgencia, 30 si normal\n4. Para cada vehículo elegible calcula su max_paradas_por_vehiculo:\n     tiempo_disponible_v = min(horario_fin_conductor, hora_fin_operacion) - max(horario_inicio_conductor, hora_inicio_operacion)\n     Si tiene pico y placa: tiempo_disponible_v = hora_fin_operacion - hora_fin_restriccion\n     max_paradas_tiempo_v = floor(tiempo_disponible_v_en_minutos / minutos_por_parada)\n     max_paradas_cap_v = floor(kg_vehiculo / 100)\n     max_paradas_v = min(max_paradas_tiempo_v, max_paradas_cap_v)\n\nEJEMPLO DE CÁLCULO DE tiempo_disponible_v:\n  hora_inicio_operacion = 09:00 → 540 minutos desde medianoche\n  hora_fin_operacion    = 13:00 → 780 minutos desde medianoche\n  conductor c01: horario 06:00-15:00, sin pico y placa\n    tiempo_disponible_v = min(780, 900) - max(540, 360) = 780 - 540 = 240 min\n    max_paradas_tiempo  = floor(240/30) = 8\n    max_paradas_cap     = floor(2000/100) = 20\n    max_paradas_v       = min(8,20) = 8\n\n  conductor c03: horario 06:00-15:00, pico y placa activo (placa 5, miércoles)\n    restricción matutina termina a las 09:30\n    tiempo_util = min(780, 900) - max(570, 360) = 780 - 570 = 210 min\n    max_paradas_tiempo  = floor(210/30) = 7\n    max_paradas_cap     = floor(750/100) = 7\n    max_paradas_v       = min(7,7) = 7\n\n  total_paradas_posibles = 8 + 7 = 15 → cubre las 12 → CVRPTW con 2 vehículos\n\n5. Suma capacidad total: total_paradas_posibles = suma de max_paradas_v de todos los elegibles\n6. Decide:\n   - Si total_paradas_posibles >= total_paradas Y hay 1 vehículo elegible → TSP\n   - Si total_paradas_posibles >= total_paradas Y hay 2+ vehículos elegibles → CVRPTW\n   - Si total_paradas_posibles < total_paradas → Simplex: selecciona las paradas\n     con mayor kg_promedio del contexto_rag y postpone el resto\n7. NUNCA uses más de 3 vehículos simultáneos\n8. Distribuye paradas equitativamente entre vehículos (±1 parada)\n9. Agrupa geográficamente: norte con norte, sur con sur, valles con valles\n10. Si hay zonas rojas activas → esas paradas van AL FINAL de la ruta del vehículo asignado (DEBE MENCIONARSE EN LA JUSTIFICACION)\n\n─────────────────────────────────────────\nEJEMPLOS DE CÁLCULO\n─────────────────────────────────────────\n\nEjemplo — 2 horas, furgoneta mediana (750kg), zona norte (12 paradas), urgencia:\n- minutos_por_parada = 25 (urgencia)\n- max_paradas_por_tiempo = floor(120/25) = 4\n- max_paradas_por_capacidad = floor(750/100) = 7\n- max_paradas_por_vehiculo = min(4,7) = 4\n- vehiculos_necesarios = ceil(12/4) = 3\n- Resultado: 3 vehículos CVRPTW, 4 paradas cada uno\n- justificacion DEBE mencionar: urgencia + zona norte completa + 3 vehículos\n\n\nEjemplo — 8 horas, camión (2000kg), 10 paradas, perecederos:\n- minutos_por_parada = 25 (perecederos)\n- max_paradas_por_tiempo = floor(480/25) = 19\n- max_paradas_por_capacidad = floor(2000/100) = 20\n- max_paradas_por_vehiculo = min(19,20) = 19\n- vehiculos_necesarios = ceil(10/19) = 1\n- Resultado: 1 vehículo TSP\n- justificacion DEBE mencionar: alimentos perecederos + prioridad velocidad\n\n─────────────────────────────────────────\nEXTRACCIÓN DE CALLES AFECTADAS\n─────────────────────────────────────────\n\nSi el campo de incidentes viales contiene información, extrae\nÚNICAMENTE el nombre de la vía afectada y agrégalo al JSON:\n\n\"calles_afectadas\": [\"nombre de la vía\"]\n\nSi no hay incidentes → \"calles_afectadas\": []\n\nNUNCA cambies el algoritmo por causa de un incidente vial.\nEl reencaminamiento lo maneja otro sistema automáticamente.\n\n─────────────────────────────────────────\nREGLAS DE JUSTIFICACIÓN — OBLIGATORIAS\n─────────────────────────────────────────\n\nLa justificacion SIEMPRE debe tener exactamente 3 oraciones que cubran:\n1. Seleccion de algoritmo que se usa y por qué (cálculo de capacidad/tiempo)\n2. Cómo se dividieron geográficamente las zonas\n3. Condiciones especiales: perecederos, urgencia, pico y placa con horario\n   de salida, zonas rojas, o Simplex con paradas postpuestas. \n\nEJEMPLO de oración 3 cuando hay pico y placa:\n\"El Camión 01 saldrá a las 09:30 una vez levantada la restricción de pico y\nplaca, pudiendo completar 11 paradas antes de las 15:00; los Conductores 02\ny 03 inician a las 06:00 sin restricción.\"\n\nREGLA DE JUSTIFICACIÓN PARA PICO Y PLACA:\nSi algún vehículo del campo \"flota\" tiene estado \n\"DISPONIBLE CON RESTRICCION PICO Y PLACA\", SIEMPRE menciona \nen la oración 3 de la justificacion cuáles conductores tienen \nrestricción y por qué no fueron seleccionados (o si sí fueron \nseleccionados, a qué hora pueden salir).\nEjemplo: \"El Conductor 03 tiene restricción de pico y placa \nhasta las 09:30 por lo que no fue considerado para esta operación \nque inicia a las 09:00.\"\n\nCRÍTICO — NOMBRES DE SUCURSALES:\nSolo puedes usar nombres EXACTAMENTE como aparecen en esta lista.\nNo inventes, no abrevies, no modifiques:\n\nKFC Mitad del Mundo, KFC Carcelén, KFC Calderón, KFC Llano Grande,\nKFC El Portal, KFC Carapungo, KFC Santa María Condado, KFC La Prensa,\nKFC Comité del Pueblo, KFC Eloy Alfaro, KFC Molineros, KFC Cotocollao Autorápido,\nKFC Plaza de las Américas Autorápido, KFC El Inca, KFC Quicentro Norte,\nKFC CCI, KFC CCI K4, KFC El Jardín, KFC Colón Autorápido, KFC Baca Ortiz,\nKFC Hospital del IESS, KFC Patria, KFC San Francisco de Quito, KFC Coral,\nKFC El Recreo, KFC El Recreo K10, KFC Michelena, KFC Shell Sur Autorápido,\nKFC Santa María Chillogallo, KFC Quitumbe, KFC San Rafael, KFC Sangolquí,\nKFC Guamaní, KFC Mega Santa María, KFC Cumbayá Autorápido\n\n─────────────────────────────────────────\nLECTURA DEL CAMPO contexto_rag — OBLIGATORIA\n─────────────────────────────────────────\n\nEl campo \"contexto_rag\" en el mensaje del usuario contiene\ninformación en tiempo real de la base de datos. Léelo así:\n\n- PICO Y PLACA:verifica restricciones y aplica la lógica de horario\n  reducido descrita en SELECCIÓN AUTÓNOMA DE FLOTA. Si la placa del conductor\n  está restringida en el horario de operación, menciónalo\n  en la justificacion y asígnale menos paradas o exclúyelo.\n\n- CONDUCTORES DISPONIBLES: usa solo los conductores que\n  aparecen en contexto_rag. Su horario real puede ser más\n  restrictivo que el tiempo_disponible ingresado — usa el\n  menor de los dos para calcular max_paradas_por_tiempo.\n\n- ZONAS ROJAS: si hay zonas rojas activas, las paradas\n  dentro de esa zona van AL FINAL de la ruta de ese vehículo.\n  Si operacion_nocturna = SÍ, presta especial atención.\n\n- KG POR KFC: usa los kg reales de contexto_rag en lugar\n  de asumir 100kg por parada cuando estén disponibles.\n  Suma los kg reales para validar si la capacidad alcanza.\n\n\n\n{{ $('Code RAG').first().json.contextoRAG }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        0
      ],
      "id": "a851e161-541c-48b0-a94f-2c582cb8ef6c",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "banco-alimentos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1040,
        0
      ],
      "id": "d4bf163f-78b8-4f8d-a953-4ae8c12d31eb",
      "name": "Webhook",
      "webhookId": "9f68e062-85ea-4a5b-9800-df5551f669b8"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \n  \"tipo\": $json.tipo, \n  \"ruta\": $json.ruta, \n  \"vehiculos\": $json.vehiculos, \n  \"origen\": $json.origen, \n  \"algoritmo\": $json.algoritmo, \n  \"justificacion\": $json.justificacion,\n  \"justificacion_algoritmo\": $json.justificacion_algoritmo,\n  \"justificacion_incidente\": $json.justificacion_incidente,\n  \"tiempo_min\": $json.tiempo_min, \n  \"distancia_km\": $json.distancia_km, \n  \"geometria\": $json.geometria, \n  \"geometrias_vehiculos\": $json.geometrias_vehiculos,\n  \"incidente_gestionado\": $json.incidente_gestionado,\n  \"calles_afectadas\": $json.calles_afectadas,\n  \"paradas_postergadas\": $json.paradas_postergadas,\n  \"decision_incidente\": $json.decision_incidente\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1808,
        0
      ],
      "id": "d825d228-f7bc-4272-a2e4-11a5f43149f3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.ors_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.parse($json.ors_body) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1280,
        0
      ],
      "id": "6d0cbe7c-1410-4ed4-9348-e455666a04c7",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YgIbavRgYwdNT7TG",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9d7fa370-087a-4765-b417-3439a73ca8df",
              "leftValue": "={{ $('Code1').first().json.calles_afectadas.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        0
      ],
      "id": "73935db2-5b24-40d4-8bb2-5ebf9839c11b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const KFC_COORDS = {\n  \"KFC Mitad del Mundo\":                  { lat: -0.008782, lon: -78.445325 },\n  \"KFC Carcelén\":                         { lat: -0.090969, lon: -78.472409 },\n  \"KFC Calderón\":                         { lat: -0.101682, lon: -78.422600 },\n  \"KFC Llano Grande\":                     { lat: -0.109331, lon: -78.444971 },\n  \"KFC El Portal\":                        { lat: -0.107842, lon: -78.458137 },\n  \"KFC Carapungo\":                        { lat: -0.103887, lon: -78.453348 },\n  \"KFC Santa María Condado\":              { lat: -0.105607, lon: -78.497377 },\n  \"KFC La Prensa\":                        { lat: -0.125328, lon: -78.493692 },\n  \"KFC Comité del Pueblo\":                { lat: -0.126464, lon: -78.468686 },\n  \"KFC Eloy Alfaro\":                      { lat: -0.122995, lon: -78.471521 },\n  \"KFC Molineros\":                        { lat: -0.128896, lon: -78.472256 },\n  \"KFC Cotocollao Autorápido\":            { lat: -0.121694, lon: -78.494158 },\n  \"KFC Plaza de las Américas Autorápido\": { lat: -0.174730, lon: -78.493019 },\n  \"KFC El Inca\":                          { lat: -0.159209, lon: -78.482856 },\n  \"KFC Quicentro Norte\":                  { lat: -0.176211, lon: -78.480549 },\n  \"KFC CCI\":                              { lat: -0.176791, lon: -78.484759 },\n  \"KFC CCI K4\":                           { lat: -0.176845, lon: -78.484727 },\n  \"KFC El Jardín\":                        { lat: -0.188744, lon: -78.487470 },\n  \"KFC Colón Autorápido\":                 { lat: -0.197743, lon: -78.495690 },\n  \"KFC Baca Ortiz\":                       { lat: -0.201484, lon: -78.486538 },\n  \"KFC Hospital del IESS\":                { lat: -0.205021, lon: -78.502570 },\n  \"KFC Patria\":                           { lat: -0.208111, lon: -78.495544 },\n  \"KFC San Francisco de Quito\":           { lat: -0.220161, lon: -78.514241 },\n  \"KFC Coral\":                            { lat: -0.238563, lon: -78.523519 },\n  \"KFC El Recreo\":                        { lat: -0.252212, lon: -78.522684 },\n  \"KFC El Recreo K10\":                    { lat: -0.251805, lon: -78.522426 },\n  \"KFC Michelena\":                        { lat: -0.247908, lon: -78.533600 },\n  \"KFC Shell Sur Autorápido\":             { lat: -0.267297, lon: -78.552203 },\n  \"KFC Santa María Chillogallo\":          { lat: -0.278868, lon: -78.552975 },\n  \"KFC Quitumbe\":                         { lat: -0.300305, lon: -78.557410 },\n  \"KFC San Rafael\":                       { lat: -0.303144, lon: -78.454568 },\n  \"KFC Sangolquí\":                        { lat: -0.314452, lon: -78.450583 },\n  \"KFC Guamaní\":                          { lat: -0.337706, lon: -78.549104 },\n  \"KFC Mega Santa María\":                 { lat: -0.329129, lon: -78.451103 },\n  \"KFC Cumbayá Autorápido\":               { lat: -0.197391, lon: -78.439399 },\n};\n\nconst ORIGENES = {\n  \"Banco de Alimentos\": { lat: -0.271154, lon: -78.527077 },\n  \"Bodega Norte\":       { lat: -0.093600, lon: -78.463200 },\n  \"Bodega Sur\":         { lat: -0.351200, lon: -78.558900 },\n};\n\nconst ORS_API_KEY = \"eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjMyMWRlMjFjNTMwYzQ4NTE5ZDcxMGNjMTAwOGQyOWYzIiwiaCI6Im11cm11cjY0In0=\";\n\n// ─────────────────────────────────────────\n// CALLES_INFO\n// ─────────────────────────────────────────\nconst CALLES_INFO = {\n  \"simon bolivar\": {\n    centro: { lat: -0.2200, lon: -78.4750 },\n    cruces: {\n      \"trebol\":              { lat: -0.2180, lon: -78.4820 },\n      \"el trebol\":           { lat: -0.2180, lon: -78.4820 },\n      \"villaflora\":          { lat: -0.2380, lon: -78.4750 },\n      \"intervalles\":         { lat: -0.1980, lon: -78.4560 },\n      \"de los conquistadores\": { lat: -0.1920, lon: -78.4480 },\n      \"conquistadores\":      { lat: -0.1920, lon: -78.4480 },\n      \"cumbaya\":             { lat: -0.1980, lon: -78.4420 },\n      \"guapulo\":             { lat: -0.2050, lon: -78.4500 },\n      \"caupicho\":            { lat: -0.2980, lon: -78.4600 },\n      \"amaru nan\":           { lat: -0.3200, lon: -78.4650 },\n      \"san rafael\":          { lat: -0.3030, lon: -78.4550 },\n    }\n  },\n  \"occidental\": {\n    centro: { lat: -0.1700, lon: -78.5050 },\n    cruces: {\n      \"cotocollao\":          { lat: -0.1217, lon: -78.4970 },\n      \"condado\":             { lat: -0.1060, lon: -78.4980 },\n      \"la prensa\":           { lat: -0.1260, lon: -78.4960 },\n      \"mindo\":               { lat: -0.1450, lon: -78.5020 },\n      \"la gasca\":            { lat: -0.2020, lon: -78.5100 },\n      \"mariscal\":            { lat: -0.2100, lon: -78.5130 },\n      \"el bosque\":           { lat: -0.1800, lon: -78.5060 },\n    }\n  },\n  \"av occidental\": {\n    centro: { lat: -0.1700, lon: -78.5050 },\n    cruces: {\n      \"cotocollao\":          { lat: -0.1217, lon: -78.4970 },\n      \"condado\":             { lat: -0.1060, lon: -78.4980 },\n      \"la prensa\":           { lat: -0.1260, lon: -78.4960 },\n      \"mindo\":               { lat: -0.1450, lon: -78.5020 },\n      \"la gasca\":            { lat: -0.2020, lon: -78.5100 },\n      \"mariscal\":            { lat: -0.2100, lon: -78.5130 },\n    }\n  },\n  \"10 de agosto\": {\n    centro: { lat: -0.1750, lon: -78.4900 },\n    cruces: {\n      \"naciones unidas\":     { lat: -0.1820, lon: -78.4900 },\n      \"brasil\":              { lat: -0.1550, lon: -78.4870 },\n      \"el inca\":             { lat: -0.1600, lon: -78.4840 },\n      \"la gasca\":            { lat: -0.2010, lon: -78.4940 },\n      \"colon\":               { lat: -0.2010, lon: -78.4950 },\n      \"patria\":              { lat: -0.2080, lon: -78.4960 },\n      \"veintimilla\":         { lat: -0.2120, lon: -78.4970 },\n      \"isaac albeniz\":       { lat: -0.1680, lon: -78.4880 },\n    }\n  },\n  \"av 10 de agosto\": {\n    centro: { lat: -0.1750, lon: -78.4900 },\n    cruces: {\n      \"naciones unidas\":     { lat: -0.1820, lon: -78.4900 },\n      \"brasil\":              { lat: -0.1550, lon: -78.4870 },\n      \"colon\":               { lat: -0.2010, lon: -78.4950 },\n      \"patria\":              { lat: -0.2080, lon: -78.4960 },\n    }\n  },\n  \"america\": {\n    centro: { lat: -0.1750, lon: -78.4960 },\n    cruces: {\n      \"naciones unidas\":     { lat: -0.1820, lon: -78.4980 },\n      \"colon\":               { lat: -0.2010, lon: -78.5020 },\n      \"brasil\":              { lat: -0.1540, lon: -78.4940 },\n      \"universitaria\":       { lat: -0.1900, lon: -78.5000 },\n      \"republica\":           { lat: -0.1950, lon: -78.5010 },\n      \"el jardin\":           { lat: -0.1890, lon: -78.4990 },\n    }\n  },\n  \"av america\": {\n    centro: { lat: -0.1750, lon: -78.4960 },\n    cruces: {\n      \"naciones unidas\":     { lat: -0.1820, lon: -78.4980 },\n      \"colon\":               { lat: -0.2010, lon: -78.5020 },\n      \"brasil\":              { lat: -0.1540, lon: -78.4940 },\n    }\n  },\n  \"eloy alfaro\": {\n    centro: { lat: -0.1700, lon: -78.4760 },\n    cruces: {\n      \"molineros\":           { lat: -0.1290, lon: -78.4720 },\n      \"granados\":            { lat: -0.1650, lon: -78.4730 },\n      \"portugal\":            { lat: -0.1780, lon: -78.4750 },\n      \"naciones unidas\":     { lat: -0.1820, lon: -78.4760 },\n      \"republica\":           { lat: -0.1950, lon: -78.4780 },\n      \"villaflora\":          { lat: -0.2380, lon: -78.4820 },\n      \"el trebol\":           { lat: -0.2200, lon: -78.4800 },\n      \"shyris\":              { lat: -0.1700, lon: -78.4760 },\n    }\n  },\n  \"av eloy alfaro\": {\n    centro: { lat: -0.1700, lon: -78.4760 },\n    cruces: {\n      \"granados\":            { lat: -0.1650, lon: -78.4730 },\n      \"portugal\":            { lat: -0.1780, lon: -78.4750 },\n      \"naciones unidas\":     { lat: -0.1820, lon: -78.4760 },\n      \"villaflora\":          { lat: -0.2380, lon: -78.4820 },\n    }\n  },\n  \"naciones unidas\": {\n    centro: { lat: -0.1820, lon: -78.4870 },\n    cruces: {\n      \"america\":             { lat: -0.1820, lon: -78.4980 },\n      \"10 de agosto\":        { lat: -0.1820, lon: -78.4900 },\n      \"eloy alfaro\":         { lat: -0.1820, lon: -78.4760 },\n      \"shyris\":              { lat: -0.1820, lon: -78.4820 },\n      \"6 de diciembre\":      { lat: -0.1820, lon: -78.4840 },\n      \"republica del salvador\": { lat: -0.1820, lon: -78.4800 },\n    }\n  },\n  \"av naciones unidas\": {\n    centro: { lat: -0.1820, lon: -78.4870 },\n    cruces: {\n      \"america\":             { lat: -0.1820, lon: -78.4980 },\n      \"10 de agosto\":        { lat: -0.1820, lon: -78.4900 },\n      \"eloy alfaro\":         { lat: -0.1820, lon: -78.4760 },\n    }\n  },\n  \"republica\": {\n    centro: { lat: -0.1960, lon: -78.4880 },\n    cruces: {\n      \"america\":             { lat: -0.1960, lon: -78.5010 },\n      \"10 de agosto\":        { lat: -0.1960, lon: -78.4940 },\n      \"eloy alfaro\":         { lat: -0.1960, lon: -78.4780 },\n      \"shyris\":              { lat: -0.1960, lon: -78.4840 },\n    }\n  },\n  \"av republica\": {\n    centro: { lat: -0.1960, lon: -78.4880 },\n    cruces: {\n      \"america\":             { lat: -0.1960, lon: -78.5010 },\n      \"10 de agosto\":        { lat: -0.1960, lon: -78.4940 },\n    }\n  },\n  \"colon\": {\n    centro: { lat: -0.2010, lon: -78.4960 },\n    cruces: {\n      \"america\":             { lat: -0.2010, lon: -78.5020 },\n      \"10 de agosto\":        { lat: -0.2010, lon: -78.4950 },\n      \"6 de diciembre\":      { lat: -0.2010, lon: -78.4900 },\n      \"juan leon mera\":      { lat: -0.2010, lon: -78.4870 },\n      \"reina victoria\":      { lat: -0.2010, lon: -78.4860 },\n    }\n  },\n  \"av colon\": {\n    centro: { lat: -0.2010, lon: -78.4960 },\n    cruces: {\n      \"america\":             { lat: -0.2010, lon: -78.5020 },\n      \"10 de agosto\":        { lat: -0.2010, lon: -78.4950 },\n    }\n  },\n  \"patria\": {\n    centro: { lat: -0.2080, lon: -78.4960 },\n    cruces: {\n      \"america\":             { lat: -0.2080, lon: -78.5020 },\n      \"10 de agosto\":        { lat: -0.2080, lon: -78.4960 },\n      \"6 de diciembre\":      { lat: -0.2080, lon: -78.4900 },\n      \"casa de la cultura\":  { lat: -0.2080, lon: -78.4910 },\n    }\n  },\n  \"av patria\": {\n    centro: { lat: -0.2080, lon: -78.4960 },\n    cruces: {\n      \"america\":             { lat: -0.2080, lon: -78.5020 },\n      \"10 de agosto\":        { lat: -0.2080, lon: -78.4960 },\n    }\n  },\n  \"maldonado\": {\n    centro: { lat: -0.2600, lon: -78.5250 },\n    cruces: {\n      \"el recreo\":           { lat: -0.2520, lon: -78.5230 },\n      \"villaflora\":          { lat: -0.2380, lon: -78.5200 },\n      \"solanda\":             { lat: -0.2700, lon: -78.5280 },\n      \"quitumbe\":            { lat: -0.3000, lon: -78.5450 },\n      \"mortuoria\":           { lat: -0.2450, lon: -78.5220 },\n      \"bartolome de las casas\": { lat: -0.2300, lon: -78.5180 },\n    }\n  },\n  \"av maldonado\": {\n    centro: { lat: -0.2600, lon: -78.5250 },\n    cruces: {\n      \"el recreo\":           { lat: -0.2520, lon: -78.5230 },\n      \"villaflora\":          { lat: -0.2380, lon: -78.5200 },\n      \"solanda\":             { lat: -0.2700, lon: -78.5280 },\n    }\n  },\n  \"pedro vicente maldonado\": {\n    centro: { lat: -0.2600, lon: -78.5250 },\n    cruces: {\n      \"el recreo\":           { lat: -0.2520, lon: -78.5230 },\n      \"villaflora\":          { lat: -0.2380, lon: -78.5200 },\n    }\n  },\n  \"mariscal sucre\": {\n    centro: { lat: -0.2550, lon: -78.5380 },\n    cruces: {\n      \"moran valverde\":      { lat: -0.3180, lon: -78.5480 },\n      \"quitumbe\":            { lat: -0.3000, lon: -78.5500 },\n      \"chillogallo\":         { lat: -0.2780, lon: -78.5420 },\n      \"shell\":               { lat: -0.2670, lon: -78.5480 },\n      \"santa rita\":          { lat: -0.2400, lon: -78.5250 },\n      \"ecuatoriana\":         { lat: -0.2550, lon: -78.5350 },\n    }\n  },\n  \"av mariscal sucre\": {\n    centro: { lat: -0.2550, lon: -78.5380 },\n    cruces: {\n      \"moran valverde\":      { lat: -0.3180, lon: -78.5480 },\n      \"quitumbe\":            { lat: -0.3000, lon: -78.5500 },\n      \"chillogallo\":         { lat: -0.2780, lon: -78.5420 },\n    }\n  },\n  \"avenida mariscal sucre\": {\n    centro: { lat: -0.2550, lon: -78.5380 },\n    cruces: {\n      \"moran valverde\":      { lat: -0.3180, lon: -78.5480 },\n      \"quitumbe\":            { lat: -0.3000, lon: -78.5500 },\n    }\n  },\n  \"moran valverde\": {\n    centro: { lat: -0.3190, lon: -78.5400 },\n    cruces: {\n      \"mariscal sucre\":      { lat: -0.3190, lon: -78.5480 },\n      \"maldonado\":           { lat: -0.3190, lon: -78.5300 },\n      \"quitumbe\":            { lat: -0.3000, lon: -78.5500 },\n    }\n  },\n  \"morán valverde\": {\n    centro: { lat: -0.3190, lon: -78.5400 },\n    cruces: {\n      \"mariscal sucre\":      { lat: -0.3190, lon: -78.5480 },\n      \"maldonado\":           { lat: -0.3190, lon: -78.5300 },\n    }\n  },\n  \"panamericana norte\": {\n    centro: { lat: -0.0900, lon: -78.4450 },\n    cruces: {\n      \"calderon\":            { lat: -0.1017, lon: -78.4230 },\n      \"carapungo\":           { lat: -0.1040, lon: -78.4430 },\n      \"llano grande\":        { lat: -0.1093, lon: -78.4450 },\n      \"guayllabamba\":        { lat: -0.0400, lon: -78.4350 },\n      \"mitad del mundo\":     { lat: -0.0088, lon: -78.4453 },\n    }\n  },\n  \"panamericana\": {\n    centro: { lat: -0.2000, lon: -78.4600 },\n    cruces: {\n      \"calderon\":            { lat: -0.1017, lon: -78.4230 },\n      \"san rafael\":          { lat: -0.3031, lon: -78.4546 },\n      \"sangolqui\":           { lat: -0.3145, lon: -78.4506 },\n      \"guamani\":             { lat: -0.3377, lon: -78.5000 },\n    }\n  },\n  \"panamericana sur\": {\n    centro: { lat: -0.3000, lon: -78.5200 },\n    cruces: {\n      \"guamani\":             { lat: -0.3377, lon: -78.5491 },\n      \"cutuglahua\":          { lat: -0.3600, lon: -78.5600 },\n      \"quitumbe\":            { lat: -0.3003, lon: -78.5574 },\n      \"moran valverde\":      { lat: -0.3190, lon: -78.5400 },\n    }\n  },\n  \"quitumbe\": {\n    centro: { lat: -0.3003, lon: -78.5490 },\n    cruces: {\n      \"mariscal sucre\":      { lat: -0.3003, lon: -78.5500 },\n      \"moran valverde\":      { lat: -0.3190, lon: -78.5400 },\n      \"maldonado\":           { lat: -0.3003, lon: -78.5350 },\n    }\n  },\n};\n\n// ─────────────────────────────────────────\n// NORMALIZAR NOMBRE DE CALLE\n// ─────────────────────────────────────────\nfunction normalizarCalle(nombre) {\n  return nombre.toLowerCase()\n    .replace(/á/g, \"a\").replace(/é/g, \"e\").replace(/í/g, \"i\")\n    .replace(/ó/g, \"o\").replace(/ú/g, \"u\").replace(/ñ/g, \"n\")\n    .replace(/^(av\\.|avenida|calle|pasaje)\\s+/g, \"\")\n    .trim();\n}\n\n// ─────────────────────────────────────────\n// ENCONTRAR CENTRO DEL INCIDENTE\n// ─────────────────────────────────────────\nfunction encontrarCentroIncidente(callePrincipal, calleReferencia, sector) {\n  var RADIO = 0.004;\n  var claveP = normalizarCalle(callePrincipal);\n\n  // Polígonos predefinidos para vías que cubren múltiples sectores\n  var poligonosEspeciales = {\n  \"simon bolivar\": {\n  \"norte\": {\n    coords: [\n      [-78.455, -0.150], [-78.447, -0.150],\n      [-78.447, -0.005], [-78.455, -0.005],\n      [-78.455, -0.150]\n    ]\n  },\n  \"norte2\": {\n    coords: [\n      [-78.455, -0.280], [-78.447, -0.280],\n      [-78.447, -0.150], [-78.455, -0.150],\n      [-78.455, -0.280]\n    ]\n  },\n  \"default\": {\n    coords: [\n      [-78.470, -0.320], [-78.455, -0.320],\n      [-78.455, -0.180], [-78.470, -0.180],\n      [-78.470, -0.320]\n    ]\n  }\n},\n\"mariscal sucre\": {\n  \"norte\": {\n    coords: [\n      [-78.508, -0.170], [-78.498, -0.170],\n      [-78.498, -0.050], [-78.508, -0.050],\n      [-78.508, -0.170]\n    ]\n  },\n  \"norte2\": {\n    coords: [\n      [-78.508, -0.280], [-78.498, -0.280],\n      [-78.498, -0.170], [-78.508, -0.170],\n      [-78.508, -0.280]\n    ]\n  },\n  \"default\": {\n    coords: [\n      [-78.562, -0.320], [-78.515, -0.320],\n      [-78.515, -0.220], [-78.562, -0.220],\n      [-78.562, -0.320]\n    ]\n  }\n},};\n  // Verificar si hay polígono especial para esta calle y sector\n  for (var nombreEspecial in poligonosEspeciales) {\n  if (claveP.includes(nombreEspecial) || nombreEspecial.includes(claveP)) {\n    var opciones = poligonosEspeciales[nombreEspecial];\n    \n    if (sector === 'norte' && opciones.norte) {\n      if (opciones.norte2) {\n        return [\n          { type: \"Polygon\", coordinates: [opciones.norte.coords] },\n          { type: \"Polygon\", coordinates: [opciones.norte2.coords] }\n        ];\n      }\n      return { type: \"Polygon\", coordinates: [opciones.norte.coords] };\n    }\n    return { type: \"Polygon\", coordinates: [opciones.default.coords] };\n  }\n}\n\n  \n\n  var infoAvenida = null;\n  for (var key in CALLES_INFO) {\n    var claveKey = normalizarCalle(key);\n    if (claveP === claveKey || claveP.includes(claveKey) || claveKey.includes(claveP)) {\n      infoAvenida = CALLES_INFO[key];\n      break;\n    }\n  }\n\n  if (!infoAvenida) {\n    console.log(\"Avenida no encontrada en CALLES_INFO:\", callePrincipal);\n    return null;\n  }\n\n  var centro = infoAvenida.centro;\n\n  if (calleReferencia) {\n    var claveR = normalizarCalle(calleReferencia);\n    var encontrado = false;\n    for (var cruce in infoAvenida.cruces) {\n      var claveCruce = normalizarCalle(cruce);\n      if (claveR.includes(claveCruce) || claveCruce.includes(claveR)) {\n        centro = infoAvenida.cruces[cruce];\n        RADIO = 0.003;\n        encontrado = true;\n        break;\n      }\n    }\n    if (!encontrado) {\n      RADIO = 0.005;\n    }\n  } else if (sector) {\n    RADIO = 0.006;\n  } else {\n    RADIO = 0.007;\n  }\n\n  var cruces = infoAvenida.cruces || {};\n  var lats = Object.values(cruces).map(function(c) { return c.lat; });\n  var lons = Object.values(cruces).map(function(c) { return c.lon; });\n\n  var spanLat = lats.length > 1 ? Math.max.apply(null, lats) - Math.min.apply(null, lats) : 0;\n  var spanLon = lons.length > 1 ? Math.max.apply(null, lons) - Math.min.apply(null, lons) : 0;\n\n  var radioLat = RADIO;\n  var radioLon = RADIO;\n\n  if (!calleReferencia) {\n    if (spanLat > spanLon) {\n      radioLat = Math.max(spanLat / 2 + 0.005, RADIO * 1.5);\n      radioLon = RADIO * 0.6;\n    } else if (spanLon > spanLat) {\n      radioLon = Math.max(spanLon / 2 + 0.005, RADIO * 1.5);\n      radioLat = RADIO * 0.6;\n    }\n  }\n\n  return {\n    type: \"Polygon\",\n    coordinates: [[\n      [centro.lon - radioLon, centro.lat - radioLat],\n      [centro.lon + radioLon, centro.lat - radioLat],\n      [centro.lon + radioLon, centro.lat + radioLat],\n      [centro.lon - radioLon, centro.lat + radioLat],\n      [centro.lon - radioLon, centro.lat - radioLat]\n    ]]\n  };\n}\n\n// ─────────────────────────────────────────\n// BUSCAR COORDENADAS KFC\n// ─────────────────────────────────────────\nfunction buscarCoords(nombre) {\n  if (KFC_COORDS[nombre]) return KFC_COORDS[nombre];\n  var key = Object.keys(KFC_COORDS).find(function(k) {\n    return k.toLowerCase().includes(nombre.toLowerCase().replace(\"kfc \", \"\")) ||\n           nombre.toLowerCase().includes(k.toLowerCase().replace(\"kfc \", \"\"));\n  });\n  return key ? KFC_COORDS[key] : null;\n}\n\n// ─────────────────────────────────────────\n// CONSTRUIR REQUEST ORS\n// ─────────────────────────────────────────\nfunction buildOrsRequest(origenNombre, paradas, callesAfectadas, calleReferencia, sector) {\n  var origenCoords = ORIGENES[origenNombre] || ORIGENES[\"Banco de Alimentos\"];\n\n  var puntos = [origenCoords].concat(\n    paradas.map(buscarCoords).filter(Boolean),\n    [origenCoords]\n  );\n  if (puntos.length < 2) return null;\n\n  var coordinates = puntos.map(function(p) { return [p.lon, p.lat]; });\n\n  var todosPoligonos = (callesAfectadas || [])\n  .flatMap(function(calle) {\n    var resultado = encontrarCentroIncidente(calle, calleReferencia, sector);\n    if (!resultado) return [];\n    if (Array.isArray(resultado)) return resultado;\n    return [resultado];\n  })\n  .filter(Boolean);\n\n  var body = { coordinates: coordinates };\n\n  if (todosPoligonos.length > 0) {\n    body.options = {\n      avoid_polygons: {\n        type: \"MultiPolygon\",\n        coordinates: todosPoligonos.map(function(p) { return p.coordinates; })\n      }\n    };\n  }\n\n  return {\n    url:    \"https://api.openrouteservice.org/v2/directions/driving-car\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": ORS_API_KEY,\n      \"Content-Type\":  \"application/json\"\n    },\n    body: JSON.stringify(body)\n  };\n}\n\n// ─────────────────────────────────────────\n// LEER METADATOS DE CODE1\n// ─────────────────────────────────────────\nvar code1Items           = $('Code1').all();\nvar first                = code1Items[0].json;\nvar origenLabel          = first.origen;\nvar tipo                 = first.tipo;\nvar algoritmo            = first.algoritmo;\nvar todosVehiculos       = first.todos_vehiculos  || [];\nvar callesAfectadas      = first.calles_afectadas || [];\nvar justificacionAgente1 = first.justificacion    || \"\";\n\n// ─────────────────────────────────────────\n// PARSEAR TODOS LOS OUTPUTS DEL AGENTE 2\n// Un item por cada vehículo VRP\n// ─────────────────────────────────────────\nvar inputItems = $input.all();\n\nvar parsedItems = inputItems.map(function(item) {\n  var raw = item.json.output || '';\n  raw = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  try {\n    return JSON.parse(raw);\n  } catch(e) {\n    console.log(\"Error parseando item del agente 2:\", e.message);\n    return null;\n  }\n}).filter(Boolean);\n\n// Si no se parseó nada, error\nif (parsedItems.length === 0) {\n  return [{ json: { error: \"No se pudo parsear ningún output del agente 2\" } }];\n}\n\n// Usar el primer item como referencia para campos globales\nvar parsed = parsedItems[0];\n\nvar decision           = parsed.decision                || \"reordenar\";\nvar paradasPostergadas = [];\nparsedItems.forEach(function(p) {\n  (p.paradas_postergadas || []).forEach(function(parada) {\n    if (paradasPostergadas.indexOf(parada) === -1) {\n      paradasPostergadas.push(parada);\n    }\n  });\n});\n\n// Tomar justificación del primer item que la tenga\nvar justificacionIncidente = parsedItems\n  .filter(function(p) { return p.decision === 'postponer'; })\n  .map(function(p) { return p.justificacion_incidente || ''; })\n  .filter(function(j) { return j.length > 0; })[0] || \n  parsedItems[0].justificacion_incidente || '';\n\n// Tomar calle_referencia y sector del primer item que los tenga\nvar calleReferencia = null;\nvar sector = null;\nfor (var j = 0; j < parsedItems.length; j++) {\n  if (!calleReferencia && parsedItems[j].calle_referencia) {\n    calleReferencia = parsedItems[j].calle_referencia;\n  }\n  if (!sector && parsedItems[j].sector) {\n    sector = parsedItems[j].sector;\n  }\n}\n\n// ─────────────────────────────────────────\n// RAMA TSP\n// ─────────────────────────────────────────\nvar esTSP = tipo !== \"VRP\" || todosVehiculos.length === 0;\n\nif (esTSP) {\n  var rutaReordenadaTSP = parsed.ruta_reordenada || [];\n  var rutaTSP = rutaReordenadaTSP.length > 0\n    ? rutaReordenadaTSP\n    : (todosVehiculos.length > 0 ? todosVehiculos[0].ruta || [] : []);\n\n  var req = buildOrsRequest(origenLabel, rutaTSP, callesAfectadas, calleReferencia, sector);\n  if (!req) return [{ json: { error: \"No se pudieron construir coordenadas para la ruta TSP\" } }];\n\n  return [{\n    json: {\n      vehiculo_id:             1,\n      vehiculo_idx:            0,\n      ors_url:                 req.url,\n      ors_method:              req.method,\n      ors_headers:             req.headers,\n      ors_body:                req.body,\n      ruta:                    rutaTSP,\n      tipo:                    tipo,\n      origen:                  origenLabel,\n      algoritmo:               algoritmo,\n      justificacion_algoritmo: justificacionAgente1,\n      justificacion_incidente: justificacionIncidente,\n      justificacion:           justificacionAgente1,\n      todos_vehiculos:         [{ id: 1, ruta: rutaTSP }],\n      paradas_postergadas:     paradasPostergadas,\n      decision_incidente:      decision,\n      calles_afectadas:        callesAfectadas,\n    }\n  }];\n}\n\n// ─────────────────────────────────────────\n// RAMA VRP\n// Cada vehículo usa el parsedItem correspondiente por índice\n// ─────────────────────────────────────────\n\nconsole.log(\"paradasPostergadas recibidas:\", JSON.stringify(paradasPostergadas));\nconsole.log(\"todosVehiculos recibidos:\", JSON.stringify(todosVehiculos.map(function(v){ return {id: v.id, ruta: v.ruta}; })));\n\nvar vehiculosFinales = todosVehiculos.map(function(v, idx) {\n  var rutaOriginal = v.ruta || [];\n\n  // FILTRAR paradas postergadas antes de cualquier reordenamiento\n  if (paradasPostergadas.length > 0) {\n    rutaOriginal = rutaOriginal.filter(function(p) {\n      return paradasPostergadas.indexOf(p) === -1;\n    });\n    console.log(\"Vehículo\", idx + 1, \"- ruta después de eliminar postergadas:\", rutaOriginal);\n  }\n\n  // Usar el parsedItem correspondiente a este vehículo por índice\n  var parsedEsteV = parsedItems[idx] || parsedItems[0];\n  var rutaReordenadaEsteV = parsedEsteV.ruta_reordenada || [];\n\n  if (rutaReordenadaEsteV.length > 0) {\n    // Filtrar solo las paradas que pertenecen a este vehículo\n    var paradasDeEsteV = rutaReordenadaEsteV.filter(function(p) {\n      return rutaOriginal.indexOf(p) !== -1;\n    });\n    // Aplicar solo si el agente 2 cubrió exactamente las mismas paradas\n    if (paradasDeEsteV.length === rutaOriginal.length) {\n      rutaOriginal = paradasDeEsteV;\n      console.log(\"Reordenamiento del Agente 2 aplicado al vehículo\", idx + 1);\n    } else {\n      console.log(\"Agente 2 no cubrió todas las paradas del vehículo\", idx + 1, \"— se conserva orden original\");\n    }\n  }\n\n  return { id: v.id || idx + 1, ruta: rutaOriginal };\n});\n\n// Eliminar vehículos que quedaron sin paradas después de postponer\nvehiculosFinales = vehiculosFinales.filter(function(v) {\n  return v.ruta.length > 0;\n});\nconsole.log(\"Total parsedItems:\", parsedItems.length);\nconsole.log(\"Total todosVehiculos:\", todosVehiculos.length);\nparsedItems.forEach(function(p, i) {\n  console.log(\"parsedItem\", i, \"decision:\", p.decision, \n    \"postergadas:\", JSON.stringify(p.paradas_postergadas));\n});\ntodosVehiculos.forEach(function(v, i) {\n  console.log(\"vehiculo\", i, \"id:\", v.id, \"ruta:\", JSON.stringify(v.ruta));\n});\nreturn vehiculosFinales\n  .map(function(v, idx) {\n    var req = buildOrsRequest(origenLabel, v.ruta, callesAfectadas, calleReferencia, sector);\n    if (!req) return null;\n    return {\n      json: {\n        vehiculo_id:             v.id,\n        vehiculo_idx:            idx,\n        ors_url:                 req.url,\n        ors_method:              req.method,\n        ors_headers:             req.headers,\n        ors_body:                req.body,\n        ruta:                    v.ruta,\n        tipo:                    tipo,\n        origen:                  origenLabel,\n        algoritmo:               algoritmo,\n        justificacion_algoritmo: justificacionAgente1,\n        justificacion_incidente: justificacionIncidente,\n        justificacion:           justificacionAgente1,\n        todos_vehiculos:         vehiculosFinales,\n        paradas_postergadas:     paradasPostergadas,\n        decision_incidente:      decision,\n        calles_afectadas:        callesAfectadas,\n      }\n    };\n  })\n  .filter(Boolean);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        -368
      ],
      "id": "b80a7cda-afc5-40fd-866d-0572620e71a2",
      "name": "Code1B"
    },
    {
      "parameters": {
        "jsCode": "const KFC_COORDS = {\n  \"KFC Mitad del Mundo\":                  { lat: -0.008782, lon: -78.445325 },\n  \"KFC Carcelén\":                         { lat: -0.090969, lon: -78.472409 },\n  \"KFC Calderón\":                         { lat: -0.101682, lon: -78.422600 },\n  \"KFC Llano Grande\":                     { lat: -0.109331, lon: -78.444971 },\n  \"KFC El Portal\":                        { lat: -0.107842, lon: -78.458137 },\n  \"KFC Carapungo\":                        { lat: -0.103887, lon: -78.453348 },\n  \"KFC Santa María Condado\":              { lat: -0.105607, lon: -78.497377 },\n  \"KFC La Prensa\":                        { lat: -0.125328, lon: -78.493692 },\n  \"KFC Comité del Pueblo\":                { lat: -0.126464, lon: -78.468686 },\n  \"KFC Eloy Alfaro\":                      { lat: -0.122995, lon: -78.471521 },\n  \"KFC Molineros\":                        { lat: -0.128896, lon: -78.472256 },\n  \"KFC Cotocollao Autorápido\":            { lat: -0.121694, lon: -78.494158 },\n  \"KFC Plaza de las Américas Autorápido\": { lat: -0.174730, lon: -78.493019 },\n  \"KFC El Inca\":                          { lat: -0.159209, lon: -78.482856 },\n  \"KFC Quicentro Norte\":                  { lat: -0.176211, lon: -78.480549 },\n  \"KFC CCI\":                              { lat: -0.176791, lon: -78.484759 },\n  \"KFC CCI K4\":                           { lat: -0.176845, lon: -78.484727 },\n  \"KFC El Jardín\":                        { lat: -0.188744, lon: -78.487470 },\n  \"KFC Colón Autorápido\":                 { lat: -0.197743, lon: -78.495690 },\n  \"KFC Baca Ortiz\":                       { lat: -0.201484, lon: -78.486538 },\n  \"KFC Hospital del IESS\":                { lat: -0.205021, lon: -78.502570 },\n  \"KFC Patria\":                           { lat: -0.208111, lon: -78.495544 },\n  \"KFC San Francisco de Quito\":           { lat: -0.220161, lon: -78.514241 },\n  \"KFC Coral\":                            { lat: -0.238563, lon: -78.523519 },\n  \"KFC El Recreo\":                        { lat: -0.252212, lon: -78.522684 },\n  \"KFC El Recreo K10\":                    { lat: -0.251805, lon: -78.522426 },\n  \"KFC Michelena\":                        { lat: -0.247908, lon: -78.533600 },\n  \"KFC Shell Sur Autorápido\":             { lat: -0.267297, lon: -78.552203 },\n  \"KFC Santa María Chillogallo\":          { lat: -0.278868, lon: -78.552975 },\n  \"KFC Quitumbe\":                         { lat: -0.300305, lon: -78.557410 },\n  \"KFC San Rafael\":                       { lat: -0.303144, lon: -78.454568 },\n  \"KFC Sangolquí\":                        { lat: -0.314452, lon: -78.450583 },\n  \"KFC Guamaní\":                          { lat: -0.337706, lon: -78.549104 },\n  \"KFC Mega Santa María\":                 { lat: -0.329129, lon: -78.451103 },\n  \"KFC Cumbayá Autorápido\":               { lat: -0.197391, lon: -78.439399 },\n};\n\nconst ORIGENES = {\n  \"Banco de Alimentos\": { lat: -0.271154, lon: -78.527077 },\n  \"Bodega Norte\":       { lat: -0.093600, lon: -78.463200 },\n  \"Bodega Sur\":         { lat: -0.351200, lon: -78.558900 },\n};\n\nconst ORS_API_KEY = \"eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjMyMWRlMjFjNTMwYzQ4NTE5ZDcxMGNjMTAwOGQyOWYzIiwiaCI6Im11cm11cjY0In0=\";\n\nconst origenLabel  = $('Webhook').first().json.body.origen_label || \"Banco de Alimentos\";\n\nfunction buscarCoords(nombre) {\n  if (KFC_COORDS[nombre]) return KFC_COORDS[nombre];\n  const key = Object.keys(KFC_COORDS).find(k =>\n    k.toLowerCase().includes(nombre.toLowerCase().replace(\"kfc \", \"\")) ||\n    nombre.toLowerCase().includes(k.toLowerCase().replace(\"kfc \", \"\"))\n  );\n  return key ? KFC_COORDS[key] : null;\n}\n\nfunction distancia(a, b) {\n  const dlat = a.lat - b.lat;\n  const dlon = a.lon - b.lon;\n  return Math.sqrt(dlat * dlat + dlon * dlon);\n}\n\nfunction nearestNeighbor(puntoInicio, paradas) {\n  const pendientes = [...paradas];\n  const ordenadas  = [];\n  let actual = puntoInicio;\n  while (pendientes.length > 0) {\n    let minDist = Infinity, minIdx = 0;\n    for (let i = 0; i < pendientes.length; i++) {\n      const coords = buscarCoords(pendientes[i]);\n      if (!coords) continue;\n      const d = distancia(actual, coords);\n      if (d < minDist) { minDist = d; minIdx = i; }\n    }\n    const siguiente = pendientes.splice(minIdx, 1)[0];\n    ordenadas.push(siguiente);\n    actual = buscarCoords(siguiente) || actual;\n  }\n  return ordenadas;\n}\n\n// ✅ SIN format: \"geojson\" — ORS devuelve polyline que Code2 decodifica\nfunction buildOrsRequest(origenNombre, paradas) {\n  const origenCoords = ORIGENES[origenNombre] || ORIGENES[\"Banco de Alimentos\"];\n  \n  const noEncontradas = paradas.filter(p => !buscarCoords(p));\n  if (noEncontradas.length > 0) {\n    console.log(\"Paradas no encontradas en KFC_COORDS:\", JSON.stringify(noEncontradas));\n  }\n  \n  const puntos = [origenCoords, ...paradas.map(buscarCoords).filter(Boolean), origenCoords];\n  \n  if (puntos.length < 2) return null;\n  const coordinates = puntos.map(p => [p.lon, p.lat]);\n  return {\n    url:    \"https://api.openrouteservice.org/v2/directions/driving-car\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": ORS_API_KEY,\n      \"Content-Type\":  \"application/json\"\n    },\n    body: JSON.stringify({ coordinates })\n  };\n}\n\nlet agentOutput = $input.first().json.output;\nagentOutput = agentOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(agentOutput);\n} catch(e) {\n  return [{ json: { error: \"No se pudo parsear: \" + agentOutput } }];\n}\n\nconst tipo      = parsed.tipo      || \"TSP\";\nconst algoritmo = parsed.algoritmo || \"TSP\";\nconst justif    = parsed.justificacion || \"\";\n\nconst callesAfectadas = (\n  parsed.calles_afectadas ||\n  parsed.incidente?.calles_afectadas ||\n  []\n).map(c => c.toLowerCase());\n\nif (tipo === \"VRP\" && parsed.vehiculos && parsed.vehiculos.length > 0) {\n  const origenCoords = ORIGENES[origenLabel] || ORIGENES[\"Banco de Alimentos\"];\n  const vehiculosOrdenados = parsed.vehiculos.map(v => ({\n    id:   v.id,\n    ruta: nearestNeighbor(origenCoords, v.ruta || []),\n  }));\n\n  return vehiculosOrdenados\n    .map((v, idx) => {\n      const req = buildOrsRequest(origenLabel, v.ruta);\n      if (!req) return null;\n      return {\n        json: {\n          vehiculo_id:      v.id,\n          vehiculo_idx:     idx,\n          ors_url:          req.url,\n          ors_method:       req.method,\n          ors_headers:      req.headers,\n          ors_body:         req.body,\n          ruta:             v.ruta,\n          calles_afectadas: callesAfectadas,\n          tipo,\n          origen:           origenLabel,\n          algoritmo,\n          justificacion:    justif,\n          todos_vehiculos:  vehiculosOrdenados,\n        }\n      };\n    })\n    .filter(Boolean);\n}\n\nconst origenCoords = ORIGENES[origenLabel] || ORIGENES[\"Banco de Alimentos\"];\nconst rutaTSP = nearestNeighbor(origenCoords, parsed.ruta || []);\nconst req = buildOrsRequest(origenLabel, rutaTSP);\nif (!req) return [{ json: { error: \"No se pudieron construir coordenadas para la ruta TSP\" } }];\n\nreturn [{\n  json: {\n    vehiculo_id:      1,\n    vehiculo_idx:     0,\n    ors_url:          req.url,\n    ors_method:       req.method,\n    ors_headers:      req.headers,\n    ors_body:         req.body,\n    ruta:             rutaTSP,\n    calles_afectadas: callesAfectadas,\n    tipo,\n    origen:           origenLabel,\n    algoritmo,\n    justificacion:    justif,\n    todos_vehiculos:  [],\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        0
      ],
      "id": "c7acf653-4b6a-44d2-94a5-4375fd4639c6",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "function decodificarPolyline(encoded) {\n  if (!encoded || typeof encoded !== 'string') return null;\n  const coords = [];\n  let index = 0, lat = 0, lng = 0;\n  while (index < encoded.length) {\n    let shift = 0, result = 0, byte;\n    do {\n      byte = encoded.charCodeAt(index++) - 63;\n      result |= (byte & 0x1f) << shift;\n      shift += 5;\n    } while (byte >= 0x20);\n    lat += (result & 1) ? ~(result >> 1) : result >> 1;\n    shift = 0;\n    result = 0;\n    do {\n      byte = encoded.charCodeAt(index++) - 63;\n      result |= (byte & 0x1f) << shift;\n      shift += 5;\n    } while (byte >= 0x20);\n    lng += (result & 1) ? ~(result >> 1) : result >> 1;\n    coords.push([lng / 1e5, lat / 1e5]);\n  }\n  return { type: \"LineString\", coordinates: coords };\n}\n\nfunction parsearRespuestaORS(itemJson) {\n  const route    = (itemJson.routes && itemJson.routes[0]) || {};\n  const summary  = route.summary  || {};\n  const duration = summary.duration || 0;\n  const distance = summary.distance || 0;\n  const geometry = route.geometry ? decodificarPolyline(route.geometry) : null;\n  return { duration, distance, geometry };\n}\n\nconst TIEMPO_SERVICIO_SEG = 30 * 60;\n\n// Leer metadatos desde Code1B (incidente) o Code1 (normal)\nlet metaItems = [];\n\ntry {\n  const itemsCode1B = $('Code1B').all();\n  if (itemsCode1B.length > 0 && itemsCode1B[0].json.justificacion) {\n    metaItems = itemsCode1B;\n  }\n} catch(e) {}\n\nif (metaItems.length === 0) {\n  try {\n    metaItems = $('Code1').all();\n  } catch(e) {}\n}\n\nif (metaItems.length === 0) {\n  metaItems = $input.all().filter(function(i) { return !!i.json.justificacion; });\n}\n\nconst metaPrimero     = (metaItems[0] && metaItems[0].json) ? metaItems[0].json : {};\nconst tipo            = metaPrimero.tipo             || \"TSP\";\nconst origen          = metaPrimero.origen           || \"\";\nconst algoritmo       = metaPrimero.algoritmo        || \"TSP\";\nconst justif          = metaPrimero.justificacion    || \"\";\nconst justifAlgoritmo     = metaPrimero.justificacion_algoritmo || \"\";\nconst justifIncidente     = metaPrimero.justificacion_incidente || \"\";\nconst todosV          = metaPrimero.todos_vehiculos  || [];\nconst callesAfectadas = metaPrimero.calles_afectadas || [];\n\n// Items ORS que llegan por input directo\nconst itemsInput = $input.all();\nconst itemsORS   = itemsInput.filter(function(i) { return !!i.json.routes; });\n\nconst esVRP = tipo === \"VRP\" && todosV.length > 0;\n\nlet totalDuration = 0;\nlet totalDistance = 0;\nlet mainGeometry  = null;\nconst vehiculosConTiempo  = [];\nconst geometriasVehiculos = [];\n\nif (esVRP) {\n  for (var idx = 0; idx < todosV.length; idx++) {\n    var vehiculo = todosV[idx];\n    var orsItem  = itemsORS[idx];\n    if (!orsItem) continue;\n\n    var parsed       = parsearRespuestaORS(orsItem.json);\n    var rutaVehiculo = vehiculo.ruta || [];\n    var numParadas   = rutaVehiculo.length;\n    var tiempoTotal  = parsed.duration + (numParadas * TIEMPO_SERVICIO_SEG);\n\n    totalDuration += tiempoTotal;\n    totalDistance += parsed.distance;\n\n    if (idx === 0) {\n      mainGeometry = parsed.geometry;\n    }\n    geometriasVehiculos.push(parsed.geometry);\n\n    vehiculosConTiempo.push({\n      id:           vehiculo.id,\n      ruta:         rutaVehiculo,\n      tiempo_min:   Math.round(tiempoTotal / 60),\n      distancia_km: Math.round(parsed.distance / 100) / 10,\n      geometria:    parsed.geometry,\n    });\n  }\n} else {\n  var orsItemTSP = itemsORS[0];\n  if (orsItemTSP) {\n    var parsedTSP    = parsearRespuestaORS(orsItemTSP.json);\n    var rutaTSP      = metaPrimero.ruta || [];\n    var numParadasTSP = rutaTSP.length;\n    var tiempoTSP    = parsedTSP.duration + (numParadasTSP * TIEMPO_SERVICIO_SEG);\n    totalDuration    = tiempoTSP;\n    totalDistance    = parsedTSP.distance;\n    mainGeometry     = parsedTSP.geometry;\n  }\n}\n\nconst rutaMostrar = esVRP\n  ? (todosV[0] ? todosV[0].ruta : [])\n  : (metaPrimero.ruta || []);\n\nreturn [{\n  json: {\n    tipo:                 esVRP ? \"VRP\" : \"TSP\",\n    ruta:                 rutaMostrar,\n    vehiculos:            esVRP ? vehiculosConTiempo : [],\n    origen:               origen,\n    algoritmo:            algoritmo,\n    justificacion:        justif,\n    justificacion_algoritmo: justifAlgoritmo,\n    justificacion_incidente: justifIncidente,\n    tiempo_min:           Math.round(totalDuration / 60),\n    distancia_km:         Math.round(totalDistance / 100) / 10,\n    geometria:            mainGeometry,\n    geometrias_vehiculos: esVRP ? geometriasVehiculos : [],\n    incidente_gestionado: callesAfectadas.length > 0,\n    calles_afectadas:     callesAfectadas,\n    paradas_postergadas:  metaPrimero.paradas_postergadas || [],\n    decision_incidente:   metaPrimero.decision_incidente  || \"\",\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        -96
      ],
      "id": "fb0dd9fc-4f25-45ae-ae3e-a18ae7405493",
      "name": "Code2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INCIDENTE REPORTADO: {{ $('Webhook').first().json.body.incidentes }}\n\nRUTA ACTUAL PLANIFICADA:\nOrigen: {{ $json.origen }}\nParadas: {{ JSON.stringify($json.ruta) }}\nAlgoritmo original: {{ $json.algoritmo }}\n\nRESTRICCIONES OPERATIVAS VIGENTES:\nTiempo disponible: {{ $('Webhook').first().json.body.tiempo_label }}\nCapacidad del vehículo: {{ $('Webhook').first().json.body.capacidad_label }}\nZona de cobertura: {{ $('Webhook').first().json.body.zona_label }}\n\nTu tarea es analizar el impacto del incidente y tomar UNA de estas \ndos decisiones para cada parada afectada:\n\nDECISIÓN 1 — REORDENAR:\nSi el tiempo disponible y la capacidad lo permiten, reorganiza \nla ruta visitando primero las paradas que NO requieren pasar \npor la vía afectada, dejando las paradas afectadas para el final.\n\nDECISIÓN 2 — POSTERGAR:\nSi el tiempo disponible es insuficiente para completar todas las \nparadas con el retraso del incidente, o si los productos son \nperecederos que no pueden esperar, identifica cuáles paradas \ndeben postergarse para el día siguiente.\n\nCRITERIOS PARA POSTERGAR:\n- Si completar las paradas afectadas superaría el tiempo disponible\n- Si el retraso hace inviable llegar a tiempo con productos perecederos\n- Si las paradas afectadas representan más del 40% de la ruta \n  y el tiempo restante es menor a 1 hora\n\nCRITERIOS PARA REORDENAR:\n- Si hay tiempo suficiente para completar todas las paradas\n- Si las paradas afectadas son pocas y están al final de la ruta\n- Si el incidente es menor (retraso menor a 20 minutos)\n\nResponde ÚNICAMENTE con este JSON:\n{\n  \"decision\": \"reordenar\" o \"postergar\",\n  \"ruta_reordenada\": [\"KFC Nombre1\", \"KFC Nombre2\"],\n  \"paradas_postergadas\": [\"KFC Nombre3\"],\n  \"justificacion_incidente\": \"explicación detallada de la decisión\"\n}\n\nSi la decisión es reordenar, paradas_postergadas debe ser [].\nSi la decisión es postergar, ruta_reordenada contiene solo las \nparadas que SÍ se visitarán hoy.",
        "options": {
          "systemMessage": "Eres el agente de reencaminamiento logístico del Banco de Alimentos de Quito. \nSe ha reportado un incidente vial que afecta la ruta planificada y debes \ntomar decisiones sobre cómo adaptarla.\n\nResponde ÚNICAMENTE con un objeto JSON válido. Sin texto antes, sin texto \ndespués, sin markdown, sin bloques de código. Solo el JSON puro.\n\nFORMATO DE RESPUESTA OBLIGATORIO:\n{\n  \"decision\": \"reordenar\" o \"postponer\",\n  \"ruta_reordenada\": [\"KFC Nombre1\", \"KFC Nombre2\"],\n  \"paradas_postergadas\": [],\n  \"justificacion_incidente\": \"explicación de 3 oraciones\",\n  \"calle_principal\": \"nombre normalizado sin tildes\",\n  \"calle_referencia\": null o \"nombre del cruce\",\n  \"sector\": null o \"norte/centro/sur/valle\"\n}\n\n─────────────────────────────────────────\nLISTA DE SUCURSALES (usa EXACTAMENTE estos nombres)\n─────────────────────────────────────────\nKFC Mitad del Mundo, KFC Carcelén, KFC Calderón, KFC Llano Grande,\nKFC El Portal, KFC Carapungo, KFC Santa María Condado, KFC La Prensa,\nKFC Comité del Pueblo, KFC Eloy Alfaro, KFC Molineros,\nKFC Cotocollao Autorápido, KFC Plaza de las Américas Autorápido,\nKFC El Inca, KFC Quicentro Norte, KFC CCI, KFC CCI K4,\nKFC El Jardín, KFC Colón Autorápido, KFC Baca Ortiz,\nKFC Hospital del IESS, KFC Patria, KFC San Francisco de Quito,\nKFC Coral, KFC El Recreo, KFC El Recreo K10, KFC Michelena,\nKFC Shell Sur Autorápido, KFC Santa María Chillogallo, KFC Quitumbe,\nKFC San Rafael, KFC Sangolquí, KFC Guamaní, KFC Mega Santa María,\nKFC Cumbayá Autorápido\n\n─────────────────────────────────────────\nMAPA DE IMPACTO — QUÉ KFCs USA CADA AVENIDA\n─────────────────────────────────────────\nEsta es la información crítica para decidir qué paradas se ven afectadas.\nCuando haya un bloqueo en una avenida, las paradas DIRECTAMENTE AFECTADAS\nson las que están sobre esa vía o cuyo único acceso pasa por ella:\n\nAV. ELOY ALFARO (norte):\n  Afecta directamente: KFC Eloy Alfaro, KFC Molineros, KFC Comité del Pueblo\n  Afecta parcialmente (acceso alternativo posible): KFC Carapungo, KFC El Portal\n\nAV. ELOY ALFARO (sur/centro):\n  Afecta directamente: KFC El Inca, KFC Quicentro Norte\n  Afecta parcialmente: KFC CCI, KFC CCI K4\n\nAV. OCCIDENTAL:\n  Afecta directamente: KFC Santa María Condado, KFC La Prensa, KFC Cotocollao Autorápido\n  Afecta parcialmente: KFC Carcelén\n\nAV. 10 DE AGOSTO:\n  Afecta directamente: KFC Baca Ortiz, KFC Colón Autorápido\n  Afecta parcialmente: KFC El Jardín, KFC Hospital del IESS, KFC Patria\n\nAV. AMÉRICA:\n  Afecta directamente: KFC Plaza de las Américas Autorápido\n  Afecta parcialmente: KFC CCI, KFC El Jardín\n\nAV. NACIONES UNIDAS:\n  Afecta directamente: KFC Quicentro Norte, KFC CCI, KFC CCI K4\n  Afecta parcialmente: KFC El Jardín, KFC Plaza de las Américas Autorápido\n\nAV. MALDONADO:\n  Afecta directamente: KFC El Recreo, KFC El Recreo K10, KFC Coral\n  Afecta parcialmente: KFC Michelena, KFC San Francisco de Quito\n\nAV. MARISCAL SUCRE:\n  Afecta directamente: KFC Shell Sur Autorápido, KFC Santa María Chillogallo, KFC Quitumbe\n  Afecta parcialmente: KFC Guamaní\n\nAV. SIMÓN BOLÍVAR:\n  Afecta directamente: KFC San Rafael, KFC Sangolquí, KFC Mega Santa María\n  Afecta parcialmente: KFC Cumbayá Autorápido\n\nPANAMERICANA NORTE:\n  Afecta directamente: KFC Calderón, KFC Llano Grande, KFC Mitad del Mundo\n  Afecta parcialmente: KFC El Portal, KFC Carapungo\n\nPANAMERICANA SUR:\n  Afecta directamente: KFC Guamaní\n  Afecta parcialmente: KFC Mega Santa María, KFC Sangolquí\n\nAV. SIMÓN BOLÍVAR (sector norte):\n  Afecta directamente (sin acceso alternativo): KFC Calderón, KFC Llano Grande, \n    KFC El Portal, KFC Carapungo\n  Afecta parcialmente: KFC Carcelén, KFC Mitad del Mundo\n\nAV. MARISCAL SUCRE (sector norte/occidental):\n  Afecta directamente: KFC Santa María Condado, KFC La Prensa, KFC Cotocollao Autorápido\n  Afecta parcialmente: KFC Carcelén, KFC Carapungo\n\n\n─────────────────────────────────────────\nREGLAS DE DECISIÓN — APLICA EN ESTE ORDEN ESTRICTO\n─────────────────────────────────────────\n\n─────────────────────────────────────────\nREGLAS DE DECISIÓN — APLICA EN ESTE ORDEN ESTRICTO\n─────────────────────────────────────────\n\nPASO 1 — Identifica las paradas afectadas:\n  - Busca la avenida bloqueada en el MAPA DE IMPACTO de arriba\n  - Si hay sector (norte/sur), aplica solo las de ese sector\n  - Las paradas DIRECTAMENTE AFECTADAS son las que debes postponer\n  - Las PARCIALMENTE afectadas solo se mueven al final si hay tiempo insuficiente\n\nPASO 2 — Aplica la regla principal:\n\n  REGLA UNIVERSAL: Todas las paradas DIRECTAMENTE AFECTADAS según el \n  MAPA DE IMPACTO se SIEMPRE se postponen, sin excepción y sin importar \n  el porcentaje que representen del total de la ruta.\n  \n  → decision: \"postponer\" si hay AL MENOS UNA parada directamente afectada\n  → paradas_postergadas: [TODAS las directamente afectadas presentes en la ruta]\n  → ruta_reordenada: [SOLO las no afectadas, en orden óptimo]\n  → justificacion_incidente: explica qué paradas se postponen y por qué\n\n  Si NO hay paradas directamente afectadas en la ruta pero la avenida \n  bloquea el tránsito desde el origen:\n  → decision: \"reordenar\"\n  → paradas_postergadas: []\n  → ruta_reordenada: mismas paradas en mismo orden\n  → justificacion_incidente: explicar que el bloqueo afecta el tránsito \n    desde el origen aunque no afecte las paradas directamente\n\nPASO 3 — SIEMPRE incluye:\n  → calle_principal: nombre sin tildes (ej: \"eloy alfaro\")\n  → calle_referencia: cruce exacto si se menciona, null si no\n  → sector: \"norte\", \"centro\", \"sur\" o \"valle\" si se puede inferir, null si no\n\n\nPASO 4 — SIEMPRE incluye:\n  → calle_principal: nombre sin tildes (ej: \"eloy alfaro\")\n  → calle_referencia: cruce exacto si se menciona, null si no\n  → sector: \"norte\", \"centro\", \"sur\" o \"valle\" si se puede inferir, null si no\n─────────────────────────────────────────\nIMPACTO EN RUTA DE TRÁNSITO (NO SOLO EN PARADAS)\n─────────────────────────────────────────\nIMPORTANTE: Una avenida bloqueada puede afectar la ruta aunque ninguna \nparada esté sobre ella. Evalúa SIEMPRE si el origen del recorrido \n(Banco de Alimentos, Bodega Norte, Bodega Sur) necesita cruzar esa \navenida para llegar a las paradas.\n\nBANCO DE ALIMENTOS (lat -0.271, lon -78.527) está en el sur de Quito.\nPara llegar a paradas del NORTE debe cruzar obligatoriamente:\n  - Av. Mariscal Sucre (si la ruta va por el oeste)\n  - Av. Occidental (si la ruta va por el flanco oeste)\n  - Av. 10 de Agosto o Eloy Alfaro (si va por el centro/este)\n\nSi el origen debe cruzar la avenida bloqueada para llegar a las paradas:\n  → decision: \"reordenar\"\n  → ruta_reordenada: mismas paradas en mismo orden\n  → justificacion_incidente: explicar que el bloqueo afecta el tránsito \n    desde el origen aunque no afecte las paradas directamente\n  → El polígono avoid_polygons se aplicará automáticamente en ORS\n\nNO es necesario postponer paradas en este caso. Solo reportar correctamente\npara que el sistema de enrutamiento evite esa vía.\n─────────────────────────────────────────\n─────────────────────────────────────────\nEJEMPLOS COMPLETOS\n─────────────────────────────────────────\n\nEJEMPLO 1 — Bloqueo Eloy Alfaro norte, ruta con 5 paradas norte:\nRuta recibida: KFC Eloy Alfaro, KFC Molineros, KFC Comité del Pueblo,\n               KFC Carcelén, KFC Cotocollao Autorápido\nIncidente: bloqueo Av. Eloy Alfaro sector norte\n\n- Directamente afectadas según mapa de impacto: KFC Eloy Alfaro, \n  KFC Molineros, KFC Comité del Pueblo → POSTPONER (regla universal)\n\nRespuesta:\n{\n  \"decision\": \"postponer\",\n  \"ruta_reordenada\": [\"KFC Carcelén\", \"KFC Cotocollao Autorápido\"],\n  \"paradas_postergadas\": [\"KFC Eloy Alfaro\", \"KFC Molineros\", \"KFC Comité del Pueblo\"],\n  \"justificacion_incidente\": \"El bloqueo en Av. Eloy Alfaro sector norte afecta directamente a KFC Eloy Alfaro, KFC Molineros y KFC Comité del Pueblo según el mapa de impacto, por lo que se postponen para la siguiente operación. La ruta continúa con KFC Carcelén y KFC Cotocollao Autorápido que tienen acceso por vías alternativas.\",\n  \"calle_principal\": \"eloy alfaro\",\n  \"calle_referencia\": null,\n  \"sector\": \"norte\"\n}\n\nEJEMPLO 2 — Accidente Simón Bolívar y Trébol, ruta con 6 paradas sur:\nRuta recibida: KFC El Recreo, KFC San Rafael, KFC Sangolquí,\n               KFC Coral, KFC Michelena, KFC Quitumbe\nIncidente: accidente Simón Bolívar a la altura del Trébol\n\n- Directamente afectadas según mapa de impacto: KFC San Rafael, \n  KFC Sangolquí → POSTPONER (regla universal)\n\nRespuesta:\n{\n  \"decision\": \"postponer\",\n  \"ruta_reordenada\": [\"KFC El Recreo\", \"KFC Coral\", \"KFC Michelena\", \"KFC Quitumbe\"],\n  \"paradas_postergadas\": [\"KFC San Rafael\", \"KFC Sangolquí\"],\n  \"justificacion_incidente\": \"El accidente en Simón Bolívar a la altura del Trébol afecta directamente a KFC San Rafael y KFC Sangolquí según el mapa de impacto, por lo que ambas paradas se postponen para la siguiente operación. La ruta continúa con KFC El Recreo, KFC Coral, KFC Michelena y KFC Quitumbe que tienen acceso por vías alternativas.\",\n  \"calle_principal\": \"simon bolivar\",\n  \"calle_referencia\": \"el trebol\",\n  \"sector\": \"sur\"\n}\n\nEJEMPLO 3 — Bloqueo Simón Bolívar norte, ruta zona norte 12 paradas:\nRuta recibida: todas las paradas zona norte\nIncidente: bloqueo Av. Simón Bolívar sector norte\n\n- Directamente afectadas según mapa de impacto: KFC Calderón, KFC Llano Grande,\n  KFC El Portal, KFC Carapungo → POSTPONER (regla universal)\n\nRespuesta:\n{\n  \"decision\": \"postponer\",\n  \"ruta_reordenada\": [\"KFC Mitad del Mundo\", \"KFC Carcelén\", \"KFC Santa María Condado\",\n    \"KFC La Prensa\", \"KFC Comité del Pueblo\", \"KFC Eloy Alfaro\", \"KFC Molineros\",\n    \"KFC Cotocollao Autorápido\"],\n  \"paradas_postergadas\": [\"KFC Calderón\", \"KFC Llano Grande\", \"KFC El Portal\", \"KFC Carapungo\"],\n  \"justificacion_incidente\": \"El bloqueo en Av. Simón Bolívar sector norte afecta directamente a KFC Calderón, KFC Llano Grande, KFC El Portal y KFC Carapungo según el mapa de impacto, por lo que se postponen para la siguiente operación. La ruta continúa con las 8 paradas restantes de la zona norte que tienen acceso por vías alternativas.\",\n  \"calle_principal\": \"simon bolivar\",\n  \"calle_referencia\": null,\n  \"sector\": \"norte\"\n}\n\nEJEMPLO 4 — Bloqueo Mariscal Sucre norte, vehículo con 4 paradas:\nRuta recibida: KFC Comité del Pueblo, KFC El Portal, KFC Carapungo,\n               KFC Santa María Condado\nIncidente: accidente Av. Mariscal Sucre sector norte\n\n- Directamente afectadas según mapa de impacto: KFC Santa María Condado\n  → POSTPONER (regla universal)\n\nRespuesta:\n{\n  \"decision\": \"postponer\",\n  \"ruta_reordenada\": [\"KFC Comité del Pueblo\", \"KFC El Portal\", \"KFC Carapungo\"],\n  \"paradas_postergadas\": [\"KFC Santa María Condado\"],\n  \"justificacion_incidente\": \"El accidente en Av. Mariscal Sucre sector norte afecta directamente a KFC Santa María Condado según el mapa de impacto, por lo que se postpone para la siguiente operación. La ruta continúa con KFC Comité del Pueblo, KFC El Portal y KFC Carapungo que tienen acceso por vías alternativas.\",\n  \"calle_principal\": \"mariscal sucre\",\n  \"calle_referencia\": null,\n  \"sector\": \"norte\"\n}\n\nEJEMPLO 5 — Incidente en vía que no afecta paradas directamente:\nRuta recibida: KFC Carcelén, KFC Mitad del Mundo, KFC Comité del Pueblo,\n               KFC Molineros\nIncidente: cierre Av. Mariscal Sucre sector norte\n\n- Ninguna de las paradas en ruta está directamente afectada según mapa de impacto\n- Pero Banco de Alimentos debe cruzar Mariscal Sucre para llegar al norte\n  → REORDENAR para que ORS calcule ruta alternativa\n\nRespuesta:\n{\n  \"decision\": \"reordenar\",\n  \"ruta_reordenada\": [\"KFC Carcelén\", \"KFC Mitad del Mundo\", \"KFC Comité del Pueblo\",\n    \"KFC Molineros\"],\n  \"paradas_postergadas\": [],\n  \"justificacion_incidente\": \"El cierre en Av. Mariscal Sucre sector norte no afecta directamente ninguna parada de la ruta según el mapa de impacto. Sin embargo, el Banco de Alimentos debe cruzar esta avenida para acceder a la zona norte, por lo que se mantiene el orden de las paradas y se instruye al sistema de enrutamiento para que calcule una vía alternativa evitando el tramo bloqueado.\",\n  \"calle_principal\": \"mariscal sucre\",\n  \"calle_referencia\": null,\n  \"sector\": \"norte\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1232,
        -368
      ],
      "id": "209777fb-bb15-4d00-ab33-e9de0c09e32e",
      "name": "AI Agent2",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.ors_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.parse($json.ors_body) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        -368
      ],
      "id": "57216ccb-a495-44c7-bdcf-24e01aecb843",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ynW9VHtVr5V4YjtA",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        224
      ],
      "id": "de7dbe8d-7330-4cf3-8045-4c4deb0a874e",
      "name": "Google Gemini Chat Model",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "4yvZnEC8IO0ewtox",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1264,
        -160
      ],
      "id": "908e957c-135f-48b2-9b03-40a52d349183",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "4yvZnEC8IO0ewtox",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "url": "https://egijddmhchfpechnhdra.supabase.co/rest/v1/pico_placa?select=dia,digitos_placa,hora_inicio,hora_fin,descripcion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_secret_J129B1ZNJM4Ff4K9SVKqtA_avQ7rtHh"
            },
            {
              "name": "Authorization",
              "value": "sb_secret_J129B1ZNJM4Ff4K9SVKqtA_avQ7rtHh"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -832,
        -16
      ],
      "id": "197fb081-cf47-4c45-bfe9-d3ea68df6bfb",
      "name": "RAG Pico y Placa",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "url": "https://egijddmhchfpechnhdra.supabase.co/rest/v1/zonas_rojas?select=nombre_zona,nivel_riesgo,descripcion,hora_inicio,hora_fin",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_secret_J129B1ZNJM4Ff4K9SVKqtA_avQ7rtHh"
            },
            {
              "name": "Authorization",
              "value": "sb_secret_J129B1ZNJM4Ff4K9SVKqtA_avQ7rtHh"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -640,
        -16
      ],
      "id": "a810e591-f5b1-428e-85a7-466df316c105",
      "name": "RAG Zonas Rojas",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "url": "https://egijddmhchfpechnhdra.supabase.co/rest/v1/horarios_conductores?select=conductor_id,vehiculo_tipo,hora_inicio,hora_fin,dias_disponibles,descripcion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_secret_J129B1ZNJM4Ff4K9SVKqtA_avQ7rtHh"
            },
            {
              "name": "Authorization",
              "value": "sb_secret_J129B1ZNJM4Ff4K9SVKqtA_avQ7rtHh"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        -16
      ],
      "id": "b18186f0-02d4-45e4-a8c3-470b007cfe66",
      "name": "RAG horario conductores",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const webhook = $('Webhook').first().json.body;\n\n// ── Tomamos SOLO el primer item de cada nodo para evitar duplicados ──\nconst picoPlacaItems = $('RAG Pico y Placa').all()\n  .filter((item, index, self) => \n    index === self.findIndex(t => t.json.id === item.json.id)\n  );\n\nconst zonasItems = $('RAG Zonas Rojas').all()\n  .filter((item, index, self) => \n    index === self.findIndex(t => t.json.nombre_zona === item.json.nombre_zona)\n  );\n\nconst conductoresItems = $('RAG horario conductores').all()\n  .filter((item, index, self) => \n    index === self.findIndex(t => t.json.conductor_id === item.json.conductor_id)\n  );\n\nconst kgItems = $('RAG Kg KFC').all()\n  .filter((item, index, self) => \n    index === self.findIndex(t => t.json.nombre_kfc === item.json.nombre_kfc)\n  );\n\n// ── Pico y placa ──────────────────────────────────\nlet picoPlacaTexto = 'No hay restricción de pico y placa hoy.';\nif (picoPlacaItems.length > 0) {\n  const diaHoy = webhook.dia_label.toLowerCase()\n    .replace(/á/g, 'a').replace(/é/g, 'e').replace(/í/g, 'i')\n    .replace(/ó/g, 'o').replace(/ú/g, 'u');\n\n  const filasDia = picoPlacaItems.filter(p => {\n    const diaBD = (p.json.dia || '').toLowerCase()\n      .replace(/á/g, 'a').replace(/é/g, 'e').replace(/í/g, 'i')\n      .replace(/ó/g, 'o').replace(/ú/g, 'u');\n    return diaBD === diaHoy;\n  });\n\n  if (filasDia.length > 0) {\n    const placas = filasDia[0].json.digitos_placa;\n    const placasTexto = Array.isArray(placas) ? placas.join(', ') : placas;\n    const franjas = filasDia.map(p => `${p.json.hora_inicio} - ${p.json.hora_fin}`).join(' y ');\n    picoPlacaTexto = `Placas terminadas en ${placasTexto} NO pueden circular en los horarios: ${franjas}.`;\n  }\n}\n// ── Zonas rojas activas ───────────────────────────\nlet zonasTexto = 'No hay zonas de riesgo activas en este horario.';\nif (zonasItems.length > 0) {\n  const horaOperacion = webhook.hora_inicio;\n  \n  const zonasActivas = zonasItems.filter(z => {\n    const horaInicio = z.json.hora_inicio.substring(0, 5);\n    const horaFin = z.json.hora_fin.substring(0, 5);\n    if (horaInicio > horaFin) {\n      return horaOperacion >= horaInicio || horaOperacion <= horaFin;\n    } else {\n      return horaOperacion >= horaInicio && horaOperacion <= horaFin;\n    }\n  });\n\n  if (zonasActivas.length > 0) {\n    const lineas = zonasActivas.map(z => {\n      return `- ${z.json.nombre_zona} (riesgo ${z.json.nivel_riesgo})`;\n    });\n    zonasTexto = lineas.join('\\n');\n  }\n}\n\n\n\n// ── Conductores disponibles ───────────────────────\nlet conductoresTexto = 'Sin datos de conductores.';\nif (conductoresItems.length > 0) {\n  const diaHoy = webhook.dia_label.toLowerCase()\n    .replace(/á/g, 'a').replace(/é/g, 'e').replace(/í/g, 'i')\n    .replace(/ó/g, 'o').replace(/ú/g, 'u');\n\n  const filasDia = picoPlacaItems.filter(p => {\n    const diaBD = (p.json.dia || '').toLowerCase()\n      .replace(/á/g, 'a').replace(/é/g, 'e').replace(/í/g, 'i')\n      .replace(/ó/g, 'o').replace(/ú/g, 'u');\n    return diaBD === diaHoy;\n  });\n\n  const lineas = conductoresItems\n    .filter((item, index, self) =>\n      index === self.findIndex(t => t.json.conductor_id === item.json.conductor_id)\n    )\n    .map(c => {\n      const conductor = c.json;\n      const dias = Array.isArray(conductor.dias_disponibles)\n        ? conductor.dias_disponibles.join(', ')\n        : conductor.dias_disponibles;\n\n      const descripcion = conductor.descripcion || '';\n      const matchPlaca = descripcion.match(/placas?\\s+terminadas?\\s+en\\s+([\\d\\s,y]+)/i);\n      const digitosPlaca = matchPlaca\n        ? matchPlaca[1].match(/\\d/g) || []\n        : [];\n\n      let estadoPP = 'sin restricción de pico y placa';\n\n      if (digitosPlaca.length === 0) {\n        estadoPP = 'placa no identificada en descripción';\n      } else if (filasDia.length > 0) {\n        const placasRestringidas = filasDia[0].json.digitos_placa;\n        const placasArray = Array.isArray(placasRestringidas)\n          ? placasRestringidas.map(String)\n          : String(placasRestringidas).split(',').map(s => s.trim());\n\n        const franjas = filasDia\n          .map(p => `${p.json.hora_inicio}-${p.json.hora_fin}`)\n          .join(' y ');\n\n        if (digitosPlaca.some(d => placasArray.includes(d))) {\n          estadoPP = `RESTRICCIÓN PICO Y PLACA (placa termina en ${digitosPlaca.join(' o ')}, restringido hoy ${franjas})`;\n        }\n      }\n\n      return `- ${conductor.conductor_id}: ${conductor.vehiculo_tipo}, ` +\n             `${conductor.hora_inicio}-${conductor.hora_fin}, ` +\n             `días: ${dias}, estado_pp: ${estadoPP}`;\n    });\n\n  conductoresTexto = lineas.length > 0\n    ? lineas.join('\\n')\n    : 'Ningún conductor coincide.';\n}\n// ── Kg por KFC — solo zona seleccionada ──────────\nlet kgTexto = '';\nif (kgItems.length > 0) {\n  const zonaSeleccionada = webhook.zona ? webhook.zona.toLowerCase() : '';\n  \n  const zonaKeywords = {\n    'norte': ['mitad del mundo','carcelén','calderón','llano grande','portal','carapungo','condado','prensa','comité','eloy alfaro','molineros','cotocollao'],\n    'centro-norte': ['américas','inca','quicentro norte','cci','jardín','colón','baca ortiz'],\n    'centro': ['iess','patria','san francisco','coral'],\n    'sur': ['recreo','michelena','shell sur','chillogallo','quitumbe'],\n    'valles': ['san rafael','sangolquí','guamaní','mega santa','cumbayá']\n  };\n\n  if (zonaSeleccionada === 'todas' || zonaSeleccionada === '') {\n    kgTexto = 'Norte ~1200kg, Centro-Norte ~900kg, Centro ~400kg, Sur ~700kg, Valles ~600kg.';\n  } else {\n    let keywordsActivos = [];\n    const zonasArray = zonaSeleccionada.split(',').map(z => z.trim());\n    zonasArray.forEach(z => {\n      if (zonaKeywords[z]) keywordsActivos = keywordsActivos.concat(zonaKeywords[z]);\n    });\n\n    const kfcsFiltrados = kgItems.filter(k => {\n      const nombre = k.json.nombre_kfc ? k.json.nombre_kfc.toLowerCase() : '';\n      return keywordsActivos.some(kw => nombre.includes(kw));\n    });\n\n    const totalKg = kfcsFiltrados.reduce((sum, k) => sum + (k.json.kg_promedio || 0), 0);\n    const lineas = kfcsFiltrados.map(k => `- ${k.json.nombre_kfc}: ${k.json.kg_promedio}kg`);\n    kgTexto = lineas.join('\\n') + `\\nTOTAL ESTIMADO: ${totalKg}kg`;\n  }\n}\n\n// ── Contexto final compacto ───────────────────────\nconst contextoRAG = `=== CONTEXTO OPERACIONAL ===\nDÍA: ${webhook.dia_label} | HORA: ${webhook.hora_inicio}-${webhook.hora_fin} | ZONA: ${webhook.zona_label}\nFLOTA: ${webhook.flota}\nFLOTA CON ESTADO CALCULADO (USA ESTO PARA DECISIONES DE PICO Y PLACA):\n${webhook.flota}\nVEHÍCULOS: ${webhook.num_vehiculos} | CAPACIDAD: ${webhook.capacidad_total}kg | NOCTURNA: ${webhook.operacion_nocturna ? 'SÍ' : 'NO'}\nPICO Y PLACA: ${picoPlacaTexto}\nZONAS RIESGO ACTIVAS:\n${zonasTexto}\nCONDUCTORES SELECCIONADOS:\n${conductoresTexto}\nKG POR KFC:\n${kgTexto}\n=== FIN CONTEXTO ===`;\n\nreturn [{\n  json: {\n    ...webhook,\n    contextoRAG: contextoRAG\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "8c694c73-1087-4e11-9507-08e7ea059ddd",
      "name": "Code RAG"
    },
    {
      "parameters": {
        "url": "https://egijddmhchfpechnhdra.supabase.co/rest/v1/kg_por_kfc?select=nombre_kfc,kg_promedio,kg_minimo,kg_maximo,frecuencia_rescate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_secret_J129B1ZNJM4Ff4K9SVKqtA_avQ7rtHh"
            },
            {
              "name": "Authorization",
              "value": "sb_secret_J129B1ZNJM4Ff4K9SVKqtA_avQ7rtHh"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        0
      ],
      "id": "8d43da3a-c939-4e06-860e-7a2a1ed8a555",
      "name": "RAG Kg KFC",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "RAG Pico y Placa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1B": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Code1B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG Pico y Placa": {
      "main": [
        [
          {
            "node": "RAG Zonas Rojas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Zonas Rojas": {
      "main": [
        [
          {
            "node": "RAG horario conductores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG horario conductores": {
      "main": [
        [
          {
            "node": "RAG Kg KFC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code RAG": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Kg KFC": {
      "main": [
        [
          {
            "node": "Code RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ed1372b4-e41a-4fc6-8674-2a00027b7a58",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f78c99e35f5d10609e487c27556f60b0d58e220d52942d3dd631e0cf962bafaa"
  },
  "id": "OC5Xjpi9u1sqZBKf",
  "tags": []
}